<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">
    <h1 class="text-center company-title">Just the Right Piece</h1>
    <h3 class="text-center">Purchase Receipt</h2><br>

    <div class="row">
      <div class="col-md-2">
        <b>Date:</b>
      </div>
      <div class="col-md-10">
        <%= DateTime.now.strftime("%B %d, %Y") %>
      </div>
      <div class="col-md-2">
        <b>Vendor:</b>
      </div>
      <div class="col-md-10">
        <%= @purchase_order.vendor.full_name %>
      </div>
      <div class="col-md-2">
        <b>Vendor Address:</b>
      </div>
      <div class="col-md-10">
        <%= @purchase_order.vendor.address_1 %><br />
        <% if @purchase_order.vendor.address_2.present? %>
        <%= @purchase_order.vendor.address_2 %><br />
        <% end %>
        <%= @purchase_order.vendor.city %>, <%= @purchase_order.vendor.state %> <%= @purchase_order.vendor.zip %>
      </div>
    </div><br />

    <p>
      For consideration of the prices stated below, vendor hereby sells the following items to Just the Right Piece, LLC. If the price is $0.00, vendor hereby transfers ownership of the item to Just the Right Piece, LLC for the consideration of the service of removing the item from vendor’s premises.
    </p>

    <%= render 'item_list' %>

    <div class="col-md-2 col-md-offset-9">
      <b>Total:</b>
    </div>
    <div class="col-md-1">
      <b><%= humanized_money_with_symbol((@purchase_order.items.sum(:purchase_price_cents)/100)) %></b>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="row">
      <div class="col-md-6">
        __________________________________________<br />
        <%= @purchase_order.vendor.full_name %>
      </div>
      <div class="col-md-3 text-center">
        _____/_____/_____<br />
        Date
      </div>
    </div>

  </div>
</div>
