<% meta title: "Search Results: '#{params[:query]}' - #{@company.name}" %>


<div class="row">
  <div class="col-md-12">
    <div class="breadcrumbs">
      <ul class="breadcrumb">
        <li><%= link_to "Home", landing_page_path %> <span class="divider"></span></li>
        <li class="active">Search</li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h2>Search</h2>
  </div>
</div>

<%= form_tag search_index_path, method: :get, class: "form-horizontal" do %>
  <div class="row">
    <div class="col-md-12">
        <p>Search Criteria</p>
        <div class="search" class="form-group">
          <div class="col-md-4">
            <%= text_field_tag :query, nil, placeholder: "Search", class: "form-control" %>
            <!-- <input type="text" placeholder="Search" class="form-control"> -->
          </div>
          <%= select_tag :categories, options_from_collection_for_select(@categories.primary, :id, :name), { class: "select", include_blank: "All Categories" } %>
          <label class="inline" style="margin-left: 10px;">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Search in subcategories
          </label>
      </div>
    </div>
  </div>

  <div class="row search-btn .btn-default">
    <div class="col-md-12">
      <p>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </p>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-md-12">
    <h2 class="search-criteria">
      <% if !@results.empty? %>
        Products meeting the search criteria
      <% else %>
        Sorry, no results found for "<%= params[:query] %>".
      <% end %>
    </h2>
  </div>
</div>

<!-- <div class="row"> -->
  <% @results.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |result| %>
        <div class="col-md-4 col-xs-12">
          <%= render 'items/item_card', item: result %>
        </div>
      <% end %>
    </div>
  <% end %>
<!-- </div> -->

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate @results, html: {class: "pagination pull-right"} %>
    </div>
  </div>
</div>
