<% meta title: "Search Results: '#{params[:query]}' - #{@company.name}" %>

<div class="row">
  <div class="col-md-12">
    <div class="breadcrumbs">
      <ul class="breadcrumb">
        <li><%= link_to "Home", landing_page_path %> <span class="divider"></span></li>
        <li class="active">Search</li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h2>Search</h2>
  </div>
</div>

<%= form_tag search_index_path, method: :get, class: "form-horizontal", remote: true do %>
  <div class="row">
    <div class="col-md-12">
      <p>Search Criteria</p>
      <div class="search" class="form-group">
        <div class="col-md-4">
          <%= text_field_tag :'search[query]', nil, placeholder: "Search", class: "form-control" %>
        </div>
        <%= select_tag :'search[by_category_id]', options_from_collection_for_select(@categories.primary, :id, :name), { class: "select", include_blank: "All Categories" } %>
        <label class="inline" style="margin-left: 10px;">
          <%= check_box_tag :'search[include_subcategories]', true, true %> Search in subcategories
        </label>
      </div>
    </div>
  </div>

  <div class="row search-btn btn-default">
    <div class="col-md-12">
      <p>
        <%= submit_tag "Search", class: "btn btn-primary", method: :get %>
      </p>
    </div>
  </div>
<% end %>

<div id="search-results-container">
  <%= render 'search_results' %>
</div>
