<% meta title: "Search Results: '#{params[:query]}' - #{@company.name}" %>

<div class="profile-page extra-large-top-margin">

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="profile">
        <div class="avatar">
          <%= image_tag("JTRPv2_color_noname.png", fetch_format: "jpg", class: "img-circle img-responsive img-raised") %>
        </div>
        <div class="brand name text-center">
          <h3 class="title">Search Results</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="description text-center">
    <p>
      <% if params[:search] %>
        <b>You searched for:</b> <span id="search-results-query"><%= params[:search][:query] %></span>
      <% end %>
    </p>
  </div>

  <div id="search-form">
    <%= form_tag search_index_path, method: :get, role: "search" do %>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-3 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">search</i>
            </span>
            <div class="form-group label-floating">
              <label class="control-label">Search</label>
              <%= text_field_tag :'search[query]', params[:query], class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <%= select_tag :'search[by_category_id]', options_from_collection_for_select(@categories.primary, :id, :name), { class: "selectpicker", include_blank: "All Categories", data: { style: "btn btn-primary btn-round" } } %>
        </div>
      </div>
      <div class="row text-center">
        <span class="checkbox form-horizontal-checkbox">
          <label>
            <%= check_box_tag :'search[include_subcategories]', true, true %> Search in subcategories
          </label>
        </span>
      </div>
      <div class="row text-center">
        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </div>
    <% end %>
  </div>

  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <% if @results.blank? %>
            <div class="row text-center">
              <em>No results found.</em>
            </div>
          <% else %>
            <% @results.each_slice(4) do |items| %>
              <div class="row">
                <% items.each do |item| %>
                  <div class="col-md-3 col-xs-12">
                    <%= render "items/card", item: item %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="text-center">
              <%= paginate @results %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
