<div class="row extra-large-top-margin">
  <div class="col-xs-10 col-xs-offset-1">
    <p>
      Here is your sales summary for the day:
    </p>

    <div class="text-center large-top-margin">
      <h4>Orders</h4>
    </div>

    <% @orders.each do |order| %>

      <div class="row">
        <div class="col-xs-4">
          Time: <b><%= order.created_at.strftime("%l:%M%P") %></b><br />
          Clover Order #<%= order.remote_id %>
        </div>
      </div>

      <% if order.items.present? %>
        <%= render 'items/items_list', current_user: @user, controller_name: 'mailer', headers: summary_headers, context: "summary", items: order.items %>
      <% else %>
        <p class="large-top-margin text-center"><i>Item(s) processed outside of inventory</i></p>
      <% end %>

      <div class="pull-right nested-statement-table large-bottom-margin">
        <table class="nested-statement-table">
          <tr>
            <th class="text-right">Total:</th>
            <td class="text-right statement-data"><%= humanized_money_with_symbol(order.amount) %></td>
          </tr>
        </table>
      </div>

      <br />
      <br />
      <br />
      <br />

    <% end %>

    <div class="row">
      <table class="pull-right nested-statement-table">
        <tr>
          <th class="text-right">Total Sales:</th>
          <th class="text-right statement-data"><%= humanized_money_with_symbol(@orders.sum(:amount_cents) / 100) %></td>
        </tr>
      </table>
    </div>

  </div>
</div>
