<div class="row">
	<div class="col-xs-12 col-sm-3">
		<a href="<%= account_job_path(account, job) %>">
			<div class="info">
				<div class="icon icon-info">
					<i class="material-icons">map</i>
				</div>
				<h2 class="info-title"><%= job.id %></h2>
				<p>Job Number</p>
			</div>
		</a>
	</div>

	<div class="col-xs-12 col-sm-3">
		<a href="<%= account_path(account) %>">
  		<div class="info">
  			<div class="icon icon-warning">
  				<i class="material-icons">assignment_ind</i>
  			</div>
  			<h2 class="info-title"><%= account.id %></h2>
  			<p>Account Number</p>
  		</div>
    </a>
	</div>

	<div class="col-xs-12 col-sm-3">
		<div class="info">
			<div class="icon icon-primary">
				<i class="material-icons">weekend</i>
			</div>
			<h2 class="info-title"><%= job.items_count %></h2>
			<p>Items</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-3">
		<a href="<%= account_job_path(account, job) %>">
  		<div class="info">
  			<div class="icon icon-success">
  				<i class="material-icons">av_timer</i>
  			</div>
  			<h2 class="info-title"><%= job.status.titleize %></h2>
  			<p>Status</p>
  		</div>
    </a>
	</div>

</div>
