<div class="row text-center">
	<div class="col-xs-12 col-md-4">
		<a href="<%= jobs_path(status: 'potential') %>">
			<div class="info">
				<div class="icon icon-info">
					<i class="material-icons">location_on</i>
				</div>
				<h1 class="info-title"><%= Job.potential.count %></h1>
				<p>Potential Jobs</p>
			</div>
		</a>
	</div>

	<div class="col-xs-12 col-md-4">
		<a href="<%= jobs_path(status: 'active') %>">
			<div class="info">
				<div class="icon icon-primary">
					<i class="material-icons">location_on</i>
				</div>
				<h1 class="info-title"><%= Job.active.count %></h1>
				<p>Active Jobs</p>
			</div>
		</a>
	</div>

	<div class="col-xs-12 col-md-4">
		<a href="<%= jobs_path(status: 'inactive') %>">
			<div class="info">
				<div class="icon icon-warning">
					<i class="material-icons">location_on</i>
				</div>
				<h1 class="info-title"><%= Job.completed.count %></h1>
				<p>Inactive Jobs</p>
			</div>
		</a>
	</div>

</div>
