<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Jobs</h1>
    <h4>Showing <%= @filter.present? ? @filter : "all" %> jobs</h4>
  </div>
</div>

<div class="row grid">
  <div class="grid-sizer col-xs-6 col-md-4"></div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= Job.potential.count %></h1>
      </div>
      <div class="panel-heading complement-primary">
        <h3><%= link_to "Potential Jobs", jobs_path(status: 'potential') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= Job.active.count %></h1>
      </div>
      <div class="panel-heading complement-darker">
        <h3><%= link_to "Active Jobs", jobs_path(status: 'active') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= Job.completed.count %></h1>
      </div>
      <div class="panel-heading secondary-primary">
        <h3><%= link_to "Completed Jobs", jobs_path(status: 'completed') %></h3>
      </div>
    </div>
  </div>

</div>

<div class="row grid">
  <div class="col-xs-12 col-md-6 grid-sizer"></div>

  <% @jobs.each do |job| %>
    <div class="col-xs-12 col-md-6 grid-item">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h4><%= link_to "#{job.address_1}, #{job.city}", account_job_path(job.account, job) %></h4>
        </div>
        <div class="panel-body">
          <%= link_to image_tag(job.maps_url, class: "thumb", alt: "Job Address"), account_job_path(job.account, job) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
