<div class="row">
  <div class="col-sm-12 text-center">
    <span class="pull-right"><%= link_to "Edit", edit_job_path(@job), class: "btn btn-raised btn-primary" %></span>
    <h1 class="company-title"><%= @job.name %></h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <%= render 'header_cards' %>
  </div>
</div>

<div class="row section section-dark extra-large-top-margin">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <div class="row">

      <div class="col-xs-10 col-xs-offset-1 col-md-4">
        <div class="card card-blog">
      		<div class="card-image">
            <%= image_tag(@job.maps_url, class: "img") %>
      		<div class="ripple-container"></div></div>

      		<div class="content">
      			<p class="card-description">
              <p><%= @job.address_1 %></p>
              <% if @job.address_2.present? %>
                <p><%= @job.address_2 %></p>
              <% end %>
              <p><%= @job.city %>, <%= @job.state %> <%= @job.zip %></p>
      			</p>
      		</div>
      	</div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-md-4">
        <div class="card card-blog">

          <% @job.proposals.each do |proposal| %>
            <div class="row vertical-align">
              <div class="col-xs-9">
                <a href="<%= account_job_proposal_path(@account, @job, proposal) %>">
          				<div class="info info-horizontal">
          					<div class="icon icon-info">
          						<i class="material-icons">assignment</i>
          					</div>
          					<div class="description">
          						<h3 class="info-title">Proposal No. <%= proposal.id %></h3>
          						<p style="color: black;">
          							<%= proposal.status %>
          						</p>
          					</div>
                	</div>
                </a>
              </div>
              <div class="col-xs-3">
                <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_path(@account, @job, proposal), class: "btn btn-fab btn-fab-mini btn-primary" %>
              </div>
            </div>
            <hr />
          <% end %>
          <div class="row text-center bottom-margin">
            <%= link_to "<i class='material-icons'>add</i>".html_safe, account_job_proposals_path(@account, @job), method: "POST", class: "btn btn-fab btn-primary" %>
          </div>
        </div>
			</div>

      <div class="col-xs-10 col-xs-offset-1 col-md-4">
        <div class="card card-blog">
          <% @job.agreements.each do |agreement| %>
            <a href="<%= account_job_proposal_agreements_path(@account, @job, agreement.proposal) %>">
      				<div class="info info-horizontal">
      					<div class="icon icon-primary">
      						<i class="material-icons">assignment_turned_in</i>
      					</div>
      					<div class="description">
      						<h3 class="info-title">Agreement No. <%= agreement.id %></h3>
      						<p style="color: black;">
      							<%= agreement.status %>
      						</p>
      					</div>
            	</div>
            </a>
            <hr />
          <% end %>
        </div>
			</div>

    </div>
  </div>
</div>


<div class="row extra-large-top-margin">

  <div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-4 text-center">
			<ul class="nav nav-pills nav-pills-primary">
			  <li class="active"><a href="#pill1" data-toggle="tab" aria-expanded="true">All</a></li>
			  <li class=""><a href="#pill2" data-toggle="tab" aria-expanded="false">Potential</a></li>
			  <li class=""><a href="#pill3" data-toggle="tab" aria-expanded="false">Owned</a></li>
			  <li class=""><a href="#pill4" data-toggle="tab" aria-expanded="false">Consigned</a></li>
			  <li class=""><a href="#pill5" data-toggle="tab" aria-expanded="false">Sold</a></li>
			</ul>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <div class="tab-content tab-space">
				<div class="tab-pane active" id="pill1">
          <%= render 'item_preview', items: @job.items %>
				</div>
				<div class="tab-pane" id="pill2">
          <%= render 'item_preview', items: @job.items.potential %>
				</div>
				<div class="tab-pane" id="pill3">
          <%= render 'item_preview', items: @job.items.owned %>
				</div>
				<div class="tab-pane" id="pill4">
          <%= render 'item_preview', items: @job.items.consigned %>
				</div>
				<div class="tab-pane" id="pill5">
          <%= render 'item_preview', items: @job.items.sold %>
				</div>
			</div>
		</div>
	</div>

</div>
