<% meta @meta_tags %>
<% meta title: "#{@job.name} - #{@company.name}" %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h1 class="company-title"><%= @job.name %></h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <%= render 'header_cards' %>
  </div>
</div>

<div class="row section section-dark extra-large-top-margin">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card card-blog">
      		<div class="card-image hidden-sm">
            <%= image_tag(@job.maps_url, class: "img") %>
        		<div class="ripple-container"></div>
          </div>

      		<div class="content text-center">
      			<p class="card-description">
              <p><%= @job.address_1 %></p>
              <% if @job.address_2.present? %>
                <p><%= @job.address_2 %></p>
              <% end %>
              <p><%= @job.city %>, <%= @job.state %> <%= @job.zip %></p>
      			</p>
      		</div>
      	</div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card card-blog">
          <div class="text-center">
            <h2>Proposals</h2>
          </div>
          <% @job.proposals.each do |proposal| %>
            <a href="<%= account_job_proposal_path(@account, @job, proposal) %>">
      				<div class="info info-horizontal">
                <div class="row">
                  <div class="col-md-8 col-md-offset-1 col-sm-9">
                    <div class="icon icon-info">
                      <i class="material-icons">assignment</i>
                    </div>
                    <div class="description">
                      <h3 class="info-title">Proposal <%= proposal.id %></h3>
                      <p style="color: black;">
                        <%= proposal.status %>
                      </p>
                    </div>
                  </div>
                  <br />
                  <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_path(@account, @job, proposal), class: "btn btn-fab btn-fab-mini btn-primary" %>
                </div>
            	</div>
            </a>
            <hr />
          <% end %>
          <div class="row text-center top-margin bottom-margin">
            <%= link_to "<i class='material-icons'>add</i>".html_safe, account_job_proposals_path(@account, @job), method: "POST", class: "btn btn-fab btn-primary" %>
          </div>
        </div>
			</div>

      <div class="col-xs-12 col-md-4">
        <div class="card card-blog">
          <div class="text-center">
            <h2>Agreements</h2>
          </div>
          <% @job.agreements.each do |agreement| %>
            <a href="<%= account_job_proposal_agreements_path(@account, @job, agreement.proposal) %>">
      				<div class="info info-horizontal">
      					<div class="icon icon-primary">
      						<i class="material-icons">assignment_turned_in</i>
      					</div>
      					<div class="description">
      						<h3 class="info-title">Agreement <%= agreement.id %></h3>
      						<p style="color: black;">
      							<%= agreement.status %>
      						</p>
      					</div>
            	</div>
            </a>
            <hr />
          <% end %>
        </div>
			</div>

    </div>
  </div>
</div>

<div class="row extra-large-top-margin">
  <%= render 'items/mark_sold_modal', redirect_url: request.original_url %>

  <div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-4 text-center">
			<ul class="nav nav-pills nav-pills-primary">
			  <li class="active"><a href="#pill1" data-toggle="tab" aria-expanded="true">All</a></li>
			  <li class=""><a href="#pill2" data-toggle="tab" aria-expanded="false">Potential</a></li>
			  <li class=""><a href="#pill3" data-toggle="tab" aria-expanded="false">Owned</a></li>
			  <li class=""><a href="#pill4" data-toggle="tab" aria-expanded="false">Consigned</a></li>
			  <li class=""><a href="#pill5" data-toggle="tab" aria-expanded="false">Sold</a></li>
			</ul>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="tab-content tab-space">
				<div class="tab-pane active grid" id="pill1">
          <%= render 'items/items_list', headers: general_headers, context: "general", items: @job.items.order(:account_item_number) %>
				</div>
				<div class="tab-pane grid" id="pill2">
          <%= render 'items/items_list', headers: general_headers, context: "general", items: @job.items.potential.order(:account_item_number) %>
				</div>
				<div class="tab-pane grid" id="pill3">
          <%= render 'items/items_list', headers: general_headers, context: "general", items: @job.items.owned.order(:account_item_number) %>
				</div>
				<div class="tab-pane grid" id="pill4">
          <%= render 'items/items_list', headers: general_headers, context: "general", items: @job.items.consigned.order(:account_item_number) %>
				</div>
				<div class="tab-pane grid" id="pill5">
          <%= render 'items/items_list', headers: general_headers, context: "general", items: @job.items.sold.order(:account_item_number) %>
				</div>
			</div>
		</div>
	</div>

</div>
