<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% if resource.errors.present? %>
      <div class="error_messages notice alert alert-danger text-center">
        <%= devise_error_messages! %>
      </div>
    <% end %>
  </div>
</div>

<div class="row vertical-align">
  <div class="col-xs-12 col-md-6" id="job-map"></div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group label-floating">
      <%= f.label :email, class: "control-label required" %>
      <%= f.email_field :email, class: "form-control", required: true %>
    </div>

    <% if controller_name == "registrations" %>
      <div class="form-group label-floating">
        <%= f.label :password, class: "control-label required" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
      </div>
      <div class="form-group label-floating">
        <%= f.label :password_confirmation, class: "control-label required" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
      </div>
    <% end %>

    <div class="form-group label-floating">
      <%= f.label :first_name, class: "control-label required" %>
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>

    <div class="form-group label-floating">
      <%= f.label :last_name, class: "control-label required" %>
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>

    <div class="form-group label-static">
      <%= f.label :address_1, class: "control-label required" %>
      <%= f.text_field :address_1, class: "form-control", required: true, data: {geo: "name"} %>
    </div>

    <div class="form-group label-static">
      <%= f.label :address_2, class: "control-label" %>
      <%= f.text_field :address_2, class: "form-control" %>
    </div>

    <div class="form-group label-static">
      <%= f.label :city, class: "control-label required" %>
      <%= f.text_field :city, class: "form-control", required: true, data: {geo: "locality"} %>
    </div>

    <div class="form-group label-static">
      <%= f.label :state, class: "control-label required" %>
      <%= f.text_field :state, class: "form-control", required: true, data: {geo: "administrative_area_level_1"} %>
    </div>

    <div class="form-group label-static">
      <%= f.label :zip, class: "control-label" %>
      <%= f.number_field :zip, class: "form-control", data: {geo: "postal_code"} %>
    </div>

    <div class="form-group label-floating">
      <%= f.label :phone, class: "control-label" %>
      <%= f.phone_field :phone, class: "form-control" %>
    </div>
    <div class="form-group label-floating">
      <%= f.label :phone_ext, class: "control-label" %>
      <%= f.phone_field :phone_ext, class: "form-control" %>
    </div>

    <% if controller_name == "registrations" %>
      <div class="form-group label-floating">
        <div class="text-center">
          <div class="col-xs-12 col-md-3 form-label">
            <%= f.label :role, "I would like to sign up as a client", class: "control-label" %>
          </div>
          <div class="col-xs-12 col-md-9 text-left">
            <%= f.check_box :role, {class: "form-control", checked: false}, "Client", "Guest" %>
          </div>
        </div>
      </div>

      <%= render 'users/consignment_policies_modal', f: f %>
    <% end %>
  </div>
</div>
