<% meta title: "#{@account.short_name} - Purchase - #{@company.name}" %>

<div class="container-fluid">
  <div class="row top-margin">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div>
        <%#= render 'header_cards' %>
        <%= render 'proposals/header', form_name: "Purchase Invoice", agreement: @agreement, proposal: @proposal, job: @job, account: @account, company: @company, statement: nil %>
      </div>
      <div class="row vertical-align large-top-margin">
        <div class="col-sm-12">
          <%= render 'items/items_list', headers: purchase_invoice_headers, context: "purchase_invoice", items: @items %>
        </div>
      </div>
      <div class="row large-top-margin no-break">
        <span class="col-sm-6 col-sm-offset-6">
          <table class="pull-right">
            <tr>
              <th class="text-right">Subotal:</th>
              <td class="text-right panel-item-row" id="purchase-order-subtotal"><%= humanized_money_with_symbol(@agreement.cost_of_items) %></td>
            </tr>

            <tr>
              <th class="text-right">Service Charge:</th>
              <td class="text-right panel-item-row" id="purchase-order-service-charge"><%= best_in_place @agreement, :service_charge, display_with: lambda { |v| humanized_money_with_symbol(v) }, class: "purchase-order-service-charge", data: {subtotal: (@items.sum(:purchase_price_cents) / 100)} %></td>
            </tr>

            <tr>
              <th class="text-right">Total:</th>
              <td class="text-right panel-item-row" id="purchase-order-total"><%= humanized_money_with_symbol(@agreement.total_price) %></td>
            </tr>

            <tr>
              <th class="text-right">Paid, ck. #<%= best_in_place @agreement, :check_number, place_holder: "_____" %>:</th>
              <td class="text-right panel-item-row" id="paid-amount-total"><%= humanized_money_with_symbol(((@items.sum(:purchase_price_cents) / 100) - @agreement.service_charge_cents / 100) * -1).html_safe %></td>
            </tr>
            <tr>
              <th class="text-right">Balance due to client:</th>
              <td class="text-right panel-item-row" id="amount-due"><%= humanized_money_with_symbol(0).html_safe %></td>
            </tr>
          </table>
        </span>
      </div>
    </div>
  </div>
</div>

<% content_for :fab do %>
  <div class="btn-group dropup hamburger-fab hidden-print">
    <button type="button" class="btn btn-raised btn-primary btn-fab dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class='material-icons'>menu</i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right fab-menu">

      <li>
        <%= link_to "<i class='material-icons'>edit</i> Edit".html_safe, edit_purchase_path(@agreement) %>
      </li>
      <li>
        <%= link_to "<i class='material-icons'>delete_forever</i> Delete".html_safe, purchase_path(@agreement), method: :delete, data: {confirm: "Are you sure?", :'confirm-button-text' => "Yes, I'm sure", :'cancel-button-text' => "No, cancel!", :'sweet-alert-type' => 'warning', :'confirm-button-color' => '#f44336', text: "This will delete the purchase order. This is irreversable."} %>
      </li>

    </ul>
  </div>
<% end %>
