<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="well">
      <div class="row text-center">
        <div class="col-md-4 hidden-xs">
          <% if @client.avatar.present? %>
            <%= image_tag(@client.avatar.thumb.url, class: "thumb", alt: "Client Avatar") %>
          <% else %>
            <%= image_tag("thumb_default_avatar.png", class: "thumb", alt: "Client Avatar") %>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="text-center">
            <h1><%= @client.full_name %></h1>
            <h4>Client</h4>
            <%= @client.address_1 %></br>
            <% if @client.address_2 %>
              <%= @client.address_2 %></br>
            <% end %>
            <%= @client.city %>, <%= @client.state %> <%= @client.zip %>
          </div>
        </div>
        <div class="col-md-4 hidden-xs">
          <%= image_tag(@maps_url, class: "thumb", alt: "Client Address") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h3>Potential Items</h3>
      <% if @client.items.potential.empty? %>
        <i>No potential items.</i>
      <% else %>
        <div class="row">
          <%= render "items_preview", items: @client.items.potential, type: "potential" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h3>Active Items</h3>
      <% if @client.items.active.empty? %>
        <i>No active items.</i>
      <% else %>
        <div class="row">
          <%= render "items_preview", items: @client.items.active, type: "active" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h3>Sold Items</h3>
      <% if @client.items.sold.empty? %>
        <i>No sold items.</i>
      <% else %>
        <div class="row">
          <%= render "items_preview", items: @client.items.sold, type: "sold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h3>Potential Proposals</h3>
      <% if @client.proposals.potential.empty? %>
        <i>No potential proposals.</i>
      <% else %>
        <% @client.proposals.potential.each do |proposal| %>
          <%= link_to "Proposal No. #{proposal.id}", proposal_path(proposal) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h3>Active Proposals</h3>
      <% if @client.proposals.active.empty? %>
        <i>No active proposals.</i>
      <% else %>
        <% @client.proposals.active.each do |proposal| %>
          <%= link_to "Proposal No. #{proposal.id}", proposal_path(proposal) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h3>Inactive Proposals</h3>
      <% if @client.proposals.inactive.empty? %>
        <i>No inactive proposals.</i>
      <% else %>
        <% @client.proposals.inactive.each do |proposal| %>
          <%= link_to "Proposal No. #{proposal.id}", proposal_path(proposal) %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
