<div class="row">
  <div class="col-sm-12 text-center">
    <span class="pull-right"><%= link_to "Edit", edit_client_path(@client), class: "btn btn-raised btn-primary" %></span>
    <h1 class="company-title"><%= @client.full_name %></h1>
  </div>
</div>

<div class="row grid">
  <div class="grid-sizer col-xs-6 col-md-4"></div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= link_to @client.id, client_path(@client) %></h1>
      </div>
      <div class="panel-heading complement-primary">
        <h3><%= link_to "<i class='material-icons'>person</i> Client Number".html_safe, client_path(@client) %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= link_to @account.id, account_path(@account) %></h1>
      </div>
      <div class="panel-heading complement-darker">
        <h3><%= link_to "<i class='material-icons'>assignment_ind</i> Account Number".html_safe, account_path(@account) %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= link_to @account.jobs.count, account_jobs_path(@account) %></h1>
      </div>
      <div class="panel-heading secondary-primary">
        <h3><%= link_to "<i class='material-icons'>location_on</i> #{'Job'.pluralize(@account.jobs.count)}".html_safe, account_jobs_path(@account) %></h3>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="well">
      <div class="row text-center vertical-align">

        <div class="col-md-4 hidden-xs">
          <% if @client.avatar.present? %>
            <%= image_tag(@client.avatar.photo_url(:thumb), class: "thumb", alt: "Client Avatar") %>
          <% else %>
            <%= image_tag("thumb_default_avatar.png", class: "thumb", alt: "Client Avatar") %>
          <% end %>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="list-group">

            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">email</i>
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading"><%= @client.email %></h4>
              </div>
            </div>

            <div class="list-group-separator"></div>

            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">location_on</i>
              </div>
              <div class="row-content">
                <%=
                  link_to(
                    "<h4 class='list-group-item-heading'> #{@client.address_1} </h4>
                    <p class='list-group-item-text'> #{@client.address_2} </p>
                    <p class='list-group-item-text'> #{@client.city}, #{@client.state} #{@client.zip} </p>".html_safe,
                    "http://maps.google.com/?q=#{@client.address_string}", class: "address_link"
                  )
                %>
              </div>
            </div>

            <div class="list-group-separator"></div>

            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">phone</i>
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading"><%= number_to_phone(@client.phone, area_code: true) %></h4>
                <p class="list-group-item-text"><%= @client.phone_ext %></p>
              </div>

            </div>

          </div>
        </div>
        <div class="col-md-4 hidden-xs">
          <%= image_tag(@maps_url, class: "map", alt: "Client Address") %>
        </div>
      </div>
    </div>
  </div>
</div>
