<div class="row">

  <div class="table-responsive large-top-margin">
    <table class="table table-shopping">

      <tbody>
        <% items.each do |item| %>
          <tr class="no-break">

            <td class="text-center">
              <div class="img-container">
                <%= link_to image_tag(item.featured_photo.photo_url(client_hints: true, quality: "auto", fetch_format: :auto, dpr: "auto", effect: :improve, width: "120", height: "160", crop: "fill"), class: "img-rounded img-responsive img-raised"), item_path(item) %>
              </div>
            </td>

            <td>
              <table>
                <tr class="text-center">
                  <th colspan="3">
                    <h4><%= link_to "Item No. #{item.account_item_number}: #{item.original_description}" %></h4>
                  </th>
                </tr>
                <td>
                  <table class="nested-statement-table">
                    <tr>
                      <td class="statement-data">Starting Asking Price:</td>
                      <td class="statement-data"><%= humanized_money_with_symbol(item.listing_price) %></td>
                    </tr>
                    <tr>
                      <td class="statement-data">Min. Sale Price:</td>
                      <td class="statement-data"><%= humanized_money_with_symbol(item.minimum_sale_price) %></td>
                    </tr>
                    <tr>
                      <td class="statement-data">Consignment Rate:</td>
                      <td class="statement-data"><%= item.consignment_rate %>%</td>
                    </tr>
                  </table>
                </td>

                <td>
                  <table class="nested-statement-table">
                    <tr>
                      <td class="statement-data">Date Sold:</td>
                      <td class="statement-data"><%= item.sold_at.strftime('%-m/%-d/%y') %></td>
                    </tr>
                    <tr>
                      <td class="statement-data">Date Consigned:</td>
                      <td class="statement-data"><%= item.try(:listed_at).try(:strftime, '%-m/%-d/%y') %></td>
                    </tr>
                    <tr>
                      <td class="statement-data">Days Consigned:</td>
                      <td class="statement-data"><%= item.listed_at.present? ? (item.sold_at.to_date - item.listed_at.to_date).to_i : "n/a" %></td>
                    </tr>
                  </table>
                </td>

                <td>
                  <table class="nested-statement-table">
                    <tr>
                      <td class="statement-data">Sale Price:</td>
                      <td class="statement-data"><%= humanized_money_with_symbol(item.sale_price) %></td>
                    </tr>
                    <tr>
                      <td class="statement-data">Consignment Fee:</td>
                      <td class="statement-data"><%= humanized_money_with_symbol((item.sale_price * item.consignment_rate) / 100) %></td>
                    </tr>
                    <tr>
                      <th class="statement-data">Due to Consignor:</td>
                      <th class="statement-data text-right"><%= humanized_money_with_symbol((item.sale_price - (item.sale_price * (1 - item.consignment_rate))) / 100) %></td>
                    </tr>
                  </table>
                </td>
              </table>
            </td>


          </tr>
        <% end %>
      </tbody>

    </table>
  </div>

</div>
