<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center">Statement</th>
          <th class="text-center">Date</th>
          <th class="text-center">Status</th>
          <th class="text-center">Account</th>
          <th class="text-center">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% statements.each do |statement| %>
          <tr>
            <td class="text-center">
              <%= link_to "<i class='material-icons md-48'>account_balance_wallet</i> #{statement.humanized_name}".html_safe, account_statement_path(statement.account, statement) %>
            </td>
            <td class="text-center">
              <%= statement.date.last_month.strftime("%B, %Y") %>
            </td>
            <td class="text-center">
              <%= statement.status %>
            </td>
            <td class="text-center">
              <%= link_to statement.account.inverse_full_name, account_path(statement.account) %>
            </td>
            <td class="text-center">
              <%= humanized_money_with_symbol(statement.amount_due_to_client) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
