<div class="modal fade" tabindex="-1" role="dialog" id="statement-todo-task-modal">
  <div class="modal-dialog">
    <%= form_tag '', method: :put, remote: true do %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row vertical-align">
            <i class='material-icons' style='font-size: 5em;'>account_balance_wallet</i>
            <span>
              <h4 class="modal-title statement-link"></h4>
            </span>
          </div>
        </div>
        <div class="modal-body">

          <div class="row vertical-align">

            <div class="col-xs-5 statement-summary"></div>

            <div class="col-xs-6 col-xs-offset-1">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <%= check_box_tag 'statement[paid_manually]' %> Paid Manually
                  </label>
                </div>
                <p class="help-block">Statement was paid outside the platform</p>
              </div>
            </div>

            <div class="col-xs-6 col-xs-offset-1">
              <div class="form-group label-floating">
                <%= label_tag :check_number, "Check number", class: "control-label" %>
                <div class="input-group">
                  <%= text_field_tag :check_number, nil, name: "statement[check_number]", class: "form-control" %>
                </div>
                <%= hidden_field_tag :status, "paid", name: "statement[status]" %>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <%= submit_tag "Pay", class: "btn btn-raised btn-primary" %>
        </div>
      </div><!-- /.modal-content -->
    <% end %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
