<address>
  <h4><span class="company-title"><%= @company.name %></span></h4>
  <%= @company.address_1 %><br>
  <%= @company.city %>, <%= @company.state %> <%= @company.zip %><br>
  <%= @company.phone %><br>
  <%= link_to @company.website, @company.website %>
</address>

<strong><%= @company.primary_contact.try(:full_name) %></strong>, Owner<br>
<a href="mailto:<%= @company.primary_contact.try(:email) %>"><%= @company.primary_contact.try(:email) %></a>
