<% items.each do |item| %>
  <div class="col-md-4">

    <div class="card card-product card-plain card-rotate">
      <div class="rotating-card-container">
        <div class="card-image">
          <div class="front">
            <%= image_tag(item.featured_photo.photo_url(
              client_hints: true,
              transformation: [
                {gravity: "auto", aspect_ratio: "3:4", crop: "fill"},
                {width: "auto:100:387", crop: "scale"}
              ]
            )) %>
          </div>

          <div class="back back-background">
            <div class="card-content">
              <h5 class="card-title">
                Quick Actions...
              </h5>
              <div class="footer text-center">
                <%= link_to "<i class='material-icons'>info</i> Details".html_safe, item_path(item), class: "btn btn-round btn-white" %>
                <a href="#pablo" class="btn btn-round btn-rose">
                  <i class="material-icons">add_shopping_cart</i>
                  Cart
                </a>
              </div>
              <hr/>
              <p class="card-description">
                Share...
              </p>
              <%= link_to "View more items in this category...", category_path(item.category), class: "btn btn-round btn-white" %>
              <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
              <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-content">
        <h4 class="card-title">
          <%= link_to item.description.titleize, item_path(item) %>
        </h4>
        <!-- <p class="card-description">
          The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.
        </p> -->
        <div class="footer">
          <div class="price-container">
            <!-- <span class="price price-old">
              &euro;1,430
            </span> -->
            <span class="price price-new">
              <%= humanized_money_with_symbol(item.listing_price) %>
            </span>
          </div>
          <!-- <div class="stats">
            <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-simple btn-rose" data-original-title="Saved to Wishlist">
              <i class="material-icons">favorite</i>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
<% end %>
