<div class="row">
	<div class="col-xs-12 col-sm-4">
		<a href="<%= items_path(status: 'active', type: 'sell') %>">
			<div class="info">
				<div class="icon icon-info">
					<i class="material-icons">store</i>
				</div>
				<h2 class="info-title"><%= @metrics[:owned_count] %></h2>
				<p>Owned Items For Sale</p>
			</div>
		</a>
	</div>

	<div class="col-xs-12 col-sm-4">
		<a href="<%= items_path(status: 'active', type: 'consign') %>">
			<div class="info">
				<div class="icon icon-warning">
					<i class="material-icons">supervisor_account</i>
				</div>
				<h2 class="info-title"><%= @metrics[:consigned_count] %></h2>
				<p>Consigned Items For Sale</p>
			</div>
		</a>
	</div>

	<div class="col-xs-12 col-sm-4">
		<a href="<%= items_path(status: 'sold') %>">
			<div class="info">
				<div class="icon icon-success">
					<i class='fa fa-credit-card-alt' aria-hidden='true'></i>
				</div>
				<h2 class="info-title"><%= humanized_money_with_symbol(@metrics[:thirty_day_revenue]) %></h2>
				<p>Sold in the last 30 days</p>
			</div>
		</a>
	</div>
</div>
