<div class="section section-blog">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-4 col-lg-offset-2 col-md-6 col-xs-12">
        <div class="card card-background" id="hours-of-operation">
          <div class="card-content">
            <%= link_to "<h3 class='card-title'>Hours of Operation</h3>".html_safe, about_path %>
            <table width="100%">
              <% days = %w(monday tuesday wednesday thursday friday saturday sunday) %>
              <% days.each do |day| %>
                <tr>
                  <td style="padding-left: 20px;"><%= day.titleize %></td>
                  <td style="padding-left: 10px;">
                    <% if company.hours_of_operation.present? && company.hours_of_operation[day].present? %>
                      <% if company.hours_of_operation[day]["open"].present? && company.hours_of_operation[day]["close"].present? %>
                        <%= company.hours_of_operation[day]["open"] %> to <%= company.hours_of_operation[day]["close"] %>
                      <% else %>
                        <em>closed</em>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% unless DateTime.now > DateTime.parse("February 8, 2018") %>
                <tr>
                  <td colspan="2">
                    <p><b>Due to inclement weather we will be closed the rest of Wednesday, 2/7/18. We will reopen for our usual hours on Thursday, 2/8/18.></p>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="card card-background" style="background-image: url(<%= company.maps_url('600x400') %>);">
          <div class="card-content">
            <%= link_to "<h3 class='card-title'>Find Us</h3>".html_safe, about_path %>
            <p class="card-description">
              <%= company.address_1 %><br>
              <%= company.city %>, <%= company.state %> <%= company.zip %><br>
              <%= company.phone %><br>
              <%= mail_to company.primary_contact.try(:email), company.primary_contact.try(:email), style: "color: white;" %><br>
            </p>
            <%= link_to "<i class='material-icons'>location_on</i> Get Directions".html_safe, company.directions_link, target: "blank", class: "btn btn-white btn-round" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
