<% meta @meta_tags %>

<div class="row">
  <div class="col-md-12 slideshow">
    <div id="slideshow0">
      <div class="camera_wrap camera_emboss camera_white_skin">
        <% @featured_photos.each do |photo| %>
          <div data-thumb="<%= photo.photo_url(:thumb) %>" data-src="<%= photo.photo_url %>" data-link="product.html"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= render 'categories/sapphire_left_nav' %>

  <div class="col-md-9">

    <div class="row">
      <% @categories.primary.each do |category| %>
        <div class="col-md-4">
          <div class="product">
            <%= link_to image_tag(category.photo_url(width: 200, height: 150, crop: "fill")), category_path(category) %>
            <div class="name">
              <%= link_to category.name, category_path(category) %>
            </div>
            <div class="price">
              <p>from <%= humanized_money_with_symbol(category.lowest_price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="newsletter clearfix">
          <h3>Newsletter</h3>
          <div>
            <input type="text" name="email" class="email">
            <input type="submit" value="Subscribe" class="btn btn-primary">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
