<% meta @meta_tags %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="brand text-center">
        <h1 class="title"><%= @company.name %></h1>
        <h4 class="title"><%= @company.slogan %></h4>
      </div>
    </div>
  </div>
</div>

<%= render "companies/hours_and_address_cards", company: @company %>

<div class="main main-raised">

  <div class="section">
    <div class="container">
      <h2 class="section-title title">Just a few of our items...</h2>
      <div class="row">
        <%= render partial: "companies/item", collection: @featured_items, cached: true %>
      </div>
    </div>
  </div>

  <div class="container categories-section">
    <h2 class="section-title title">Shop by category...</h2>
    <div class="row">
      <div class="col-md-12">
        <% @categories.primary.each_slice(4) do |categories| %>
          <div class="row">
            <%= render partial: "categories/category", collection: categories, cached: true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
<!-- end-main-raised -->
