<% meta @meta_tags %>

<div class="col-md-8 col-md-offset-2">
  <div class="brand text-center">
    <h1 class="title"><%= @company.name %></h1>
    <h4 class="title"><%= @company.slogan %></h4>
  </div>
</div>

<%= render "companies/hours_and_address_cards", company: @company %>

<div class="col-xs-12 col-md-8 col-md-offset-2 main main-raised-no-margin">
  <h2 class="section-title title">Just a few of our items...</h2>
  <div class="row">
    <% cache @featured_items do %>
      <% @featured_items.each do |item| %>
        <%= render "companies/item", item: item %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="categories-section col-xs-12 col-md-8 col-md-offset-2 main main-raised-no-margin large-top-margin">
  <h2 class="section-title title">Shop by category...</h2>
  <div class="row">
    <%= render partial: "categories/category", collection: @primary_categories %>
  </div>
</div>
