<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Dashboard</h1>
  </div>
</div>

<div class="row grid">
  <div class="grid-sizer col-xs-6 col-sm-6 col-md-4"></div>
  <div class="grid-item col-xs-6 col-md-4">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>weekend</i> Quick-Add Item".html_safe, new_item_path %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>person_add</i> Quick-Add Client".html_safe, new_client_path %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>assignment_ind</i> Create New Proposal".html_safe, new_proposal_path %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>assignment</i> Open Proposals".html_safe, clients_path(status: 'potential') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>assignment_late</i> Pending Agreements".html_safe, agreements_list_agreements_path(status: 'potential') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-4">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>assignment_turned_in</i> Signed Agreements".html_safe, agreements_list_agreements_path(status: 'active') %></h3>
      </div>
    </div>
  </div>
</div>

<div class="row grid">
  <div class="grid-sizer col-xs-12 col-md-6"></div>
  <div class="grid-item col-xs-12 col-md-6">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>event_seat</i> Recent Items".html_safe, items_path(type: 'potential') %></h3>
        <div class="row well-caption">
          <%= render "clients/items_preview", items: @potential_items, type: "" %>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-12 col-md-6">
    <div class="well text-center">
      <div class="caption">
        <h3><%= link_to "<i class='material-icons'>monetization_on</i> Recent Sales".html_safe, items_path(type: 'sold') %></h3>
        <div class="row well-caption">
          <%= render "clients/items_preview", items: @sold_items, type: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
