<div class="row text-center">
  <h1 class="company-title"><%= @company.name %></h1>
  <p><%= @company.full_address %></p>
  <p><%= number_to_phone(@company.phone) %></p>
</div>

<div class="row extra-large-top-margin">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">

    <p class="text-right">
      <%= @letter.created_at.strftime("%B %m, %Y") %>
    </p>

    <p class="large-top-margin">Dear <%= @letter.account.first_name %>,</p>

    <%= render @letter.type %>

    <p class="large-top-margin">Sincerely yours,</p>
    <p class="top-margin">
      <%= @company.primary_contact.full_name %><br />
      Owner, <%= @company.name %>
    </p>

  </div>

</div>
