<div class="row vertical-align">
  <div class="col-xs-3">
    <% if activity.owner %>
      <%= link_to image_tag(activity.owner.avatar_url(:thumb), class: "img-rounded img-responsive img-raised"), account_path(activity.owner) %>
    <% else %>
      <%= image_tag(AvatarUploader.new.default_url(:thumb), class: "img-rounded img-responsive img-raised") %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <p>
      <small>
        <i class="material-icons activity-feed-timestamp">access_time</i>
        <i><span class="activity-timestamp" data-timestamp="<%= activity.created_at %>"></span></i>
      </small>
    </p>
    <% if activity.owner %>
      <%= link_to activity.owner.full_name, account_path(activity.owner) %>
    <% else %>
      Someone
    <% end %>
    <%= "#{activity.key.split('.').last}d a #{activity.key.split('.').first}" %>
    <%= link_to activity.trackable.name, activity.trackable %>
  </div>
  <div class="col-xs-3">
    <%= link_to image_tag(activity.trackable.maps_url, class: "img-rounded img-responsive img-raised"), account_job_url(activity.trackable.account, activity.trackable) %>
  </div>
</div>
