<%= form_for @proposal, class: "form-horizontal" do |f| %>

  <% if @proposal.errors.present? %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="error_messages notice alert alert-danger text-center">
          <% @proposal.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <legend>Step 1: Select a Client</legend>

  <%= f.hidden_field :created_by_id, value: current_user.id %>

  <div class="row form-row">
    <div class="text-center">
      <div class="col-xs-12 col-md-3 form-label">
        <%= f.label :client, class: "control-label" %>
      </div>
      <div class="col-xs-12 col-md-9 text-left">
        <%= f.collection_select :account_id, @accounts, :id, :full_name, {include_blank: "Select Account"}, {class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="row form-row">
    <div class="actions">
      <div class="col-xs-12 text-center">
        <!-- JAVASCRIPT TO MOVE ON TO ADD ITEMS -->
        <%= f.submit "Next", class: "btn btn-raised btn-primary"%>
      </div>
    </div>
  </div>

<% end %>
