<div class="row">

  <span class="col-sm-6">
    <h3 class="company-title brand-logo-link">
      <%= link_to "#{image_tag('JTRPv2_color_noname.png', height: 30, width: 33, class: 'logo')} #{@company.name}".html_safe, root_path %>
    </h3>
    <table class="form-header-table">
      <tr>
        <td>phone:</td>
        <td><%= number_to_phone(@company.phone) %></td>
      </tr>
      <tr>
        <td>email:</td>
        <td><%= @company.email %></td>
      </tr>
      <tr>
        <td>website:</td>
        <td><%= @company.website %></td>
      </tr>
    </table>
  </span>

  <span class="col-sm-push-6 text-right form-header-table">
    <h4><%= form_name %></h4>
    <table class="pull-right">
      <% if @proposal.present? %>
        <tr>
          <td class="text-left">Date</td>
          <td><%= @proposal.updated_at.strftime("%B %d, %Y") %></td>
        </tr>
        <tr>
          <td class="text-left">Proposal #</td>
          <td><%= @proposal.id %></td>
        </tr>
      <% elsif @statement.present? %>
        <td class="text-left">Date</td>
        <td><%= @statement.date.last_month.strftime("%B, %Y") %></td>
      <% end %>
      <tr>
        <td class="text-left">Account #</td>
        <td><%= @account.id %></td>
      </tr>
    </table>
  </span>
</div>

<div class="row top-margin">

  <div class="col-sm-6">
    <table class="form-header-table">
      <tr class="client-header">
        <td colspan="2" class="client-header-text">Client:</th>
      </tr>
      <tr>
        <td>name:</td>
        <td><%= @client.full_name %></td>
      </tr>
      <tr>
        <td>
          service<br />
          address:
        </td>
        <td>
          <%= @job.address_1 %><br />
          <% if @job.address_2.present? %>
            <%= @job.address_2 %><br />
          <% end %>
          <%= @job.city %>, <%= @job.state %> <%= @job.zip %>
        </td>
      </tr>
      <tr>
        <td>
          mailing<br />
          address:
        </td>
        <td>
          <%= @client.address_1 %><br />
          <% if @client.address_2.present? %>
            <%= @client.address_2 %><br />
          <% end %>
          <%= @client.city %>, <%= @client.state %> <%= @client.zip %>
        </td>
      </tr>
      <tr>
        <td>phone:</td>
        <td><%= number_to_phone(@client.phone) %></td>
      </tr>
      <tr>
        <td>email:</td>
        <td><%= @client.email %></td>
      </tr>
    </table>
  </div>

  <% if action_name == "response_form" %>
    <div class="col-sm-6">
      For each item, please select only one option for what it is you would like to do with it:  sell to us at our purchase offer price, consign with us at our consignment offer prices, request our services to donate the item to a local charity, bring it to the dump, or move it to another location, or do nothing with the item. Please provide additional information where appropriate.
    </div>
  <% end %>

</div>
