<div class="row">
  <div class="panel panel-default panel-item-row" id="panel-item-<%= item.id %>">
    <div class="row vertical-align">
      <div class="col-xs-12 col-md-3 text-center">
        <% if item.initial_photos.present? %>
          <%= image_tag(item.initial_photos.first.photo_url(:thumb)) %>
        <% else %>
          <%= image_tag("thumb_No_Image_Available.png") %>
        <% end %>
      </div>

      <div class="col-xs-12 col-md-9">

        <%= form_for item, remote: true do |f| %>

          <div class="row text-center vertical-align">
            <div class="col-xs-10">
              <b>Item #<%= item.id %>: <%= item.name %></b> - <i><%= item.description %></i>
            </div>
            <div class="col-xs-2">
              <%= link_to "Remove", "javascript:void()", class: "btn btn-raised btn-xs btn-danger remove-existing-item-button", data: { item_id: item.id } %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="row">
                <div class="client-header text-center">
                  <p class="client-header-text">Purchase Offer</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8 col-md-6 text-right">
                  will purchase:
                </div>
                <div class="col-xs-4 col-md-6">
                  <%= f.radio_button :offer_type, "purchase", class: "selector offer-selector", id: "item_#{item.id}_offer_type_purchase" %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8 col-md-6 text-right">
                  purchase price:
                </div>
                <div class="col-xs-4 col-md-6 field-purchase">
                  <%= best_in_place item, :purchase_price, display_with: lambda { |v| humanized_money_with_symbol(v).html_safe } %>
                </div>
              </div>
            </div>
            <div class="hidden-xs col-md-6">
              <div class="client-header text-center">
                <p class="client-header-text">Condition/Notes</p>
              </div>
            </div>
            <div class="row">
              <div class="hidden-xs col-md-6">
                <%= best_in_place item, :notes, place_holder: "<i>click or tap here to edit</i>".html_safe %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="row">
                <div class="client-header text-center">
                  <p class="client-header-text">Consignment Offer</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8 col-md-6 text-right">
                  will consign:
                </div>
                <div class="col-xs-4 col-md-6">
                  <%= f.radio_button :offer_type, "consign", class: "selector offer-selector", id: "item_#{item.id}_offer_type_consign" %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8 col-md-6 text-right">
                  original asking price:
                </div>
                <div class="col-xs-4 col-md-6 field-consign">
                  <%= best_in_place item, :listing_price, display_with: lambda { |v| humanized_money_with_symbol(v).html_safe } %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8 col-md-6 text-right">
                  minimum sale price:
                </div>
                <div class="col-xs-4 col-md-6 field-consign">
                  <%= best_in_place item, :minimum_sale_price, display_with: lambda { |v| humanized_money_with_symbol(v).html_safe } %>
                </div>
              </div>
            </div>

            <div class="hidden-xs col-md-6">
              <div class="row vertical-align">
                <% if item.initial_photos.present? %>
                  <% item.initial_photos[1..3].each do |photo| %>
                    <div class="col-md-12">
                      <%= image_tag(photo.photo_url(:thumb), class: "half-thumb") %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
