<div class="col-xs-12">
  <div class="panel panel-primary text-center" id="panel-item-<%= item.id %>">
    <div class="panel-heading">
      <div class="row vertical-align">
        <div class="col-xs-3 text-left">
          <a href="<%= account_job_proposal_item_path(@account, @job, @proposal, item) %>">
            <span>Item No.</span> <span class="pull-right"><%= item.account_item_number %></span><br />
            <span>SKU No.</span> <span class="pull-right"><%= item.id %></span>
          </a>
        </div>
        <div class="col-xs-6">
          <h3><%= link_to "#{item.description.titleize}", item_path(item) %></h3>
        </div>
        <% if current_user.try(:internal?) %>
          <div class="col-xs-3 hidden-print text-right">
            <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, "javascript:void(0)", class: "btn btn-fab btn-fab-mini btn-danger remove-existing-item-button pull-right", data: { item_id: item.id } %>
            <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_item_path(item, redirect_url: request.original_url), class: "btn btn-fab btn-fab-mini btn-primary", style: "margin-right: 10px;" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <div class="row grid">
            <div class="col-xs-6 grid-sizer"></div>
            <% if item.initial_photos.present? %>
              <% if controller_name == 'agreements' %>
                <div class="col-xs-6 grid-item">
                  <%= image_tag(item.featured_photo.photo_url(client_hints: true, quality: "auto", fetch_format: :auto, width: :auto, dpr: "auto", effect: :improve), class: "img-rounded img-responsive img-raised img-featured") %>
                </div>
              <% else %>
                <% item.initial_photos.each do |photo| %>
                  <div class="col-xs-6 grid-item">
                    <%= image_tag(photo.photo_url(client_hints: true, quality: "auto", fetch_format: :auto, width: :auto, dpr: "auto", effect: :improve), class: "img-rounded img-responsive img-raised img-featured") %>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div class="col-xs-6 grid-item grid-item--width2">
                <%= image_tag("thumb_No_Image_Available.png", class: "img-rounded img-responsive img-raised img-featured") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 text-left">
          <% if action_name == "details" %>
            <%= render "proposals/item_details_form", item: item %>
          <% elsif action_name == "show" %>
            <%= render "proposals/offer_choice_details", item: item %>
          <% elsif action_name == "index" %>
            <%= render "agreements/offer_agreement_details", item: item %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
