<div class="col-xs-12 col-md-6 grid-item">
  <div class="panel panel-primary text-center" id="panel-item-<%= item.id %>">
    <div class="panel-heading <%= item.panel_color %>">
      <span class="pull-left">Item No. <%= item.account_item_number %></span>
      <span class="pull-right">
        <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, "javascript:void()", class: "btn btn-fab btn-fab-mini btn-danger remove-existing-item-button pull-right", data: { item_id: item.id } %>
      </span>
      <h3><%= link_to "#{item.description}", account_job_proposal_item_path(@account, @job, @proposal, item) %></h3>
    </div>

    <div class="panel-body item-grid">
      <div class="item-grid-sizer"></div>
      <div class="item-grid-item item-grid-item--width2">
        <% if item.initial_photos.present? %>
          <%= link_to image_tag(item.initial_photos.first.photo_url(:thumb), class: "thumb"), account_job_proposal_item_path(@account, @job, @proposal, item) %>
        <% else %>
          <%= link_to image_tag("thumb_No_Image_Available.png", class: "thumb"), account_job_proposal_item_path(@account, @job, @proposal, item) %>
        <% end %>
      </div>

      <% item.initial_photos[1..-1].each do |photo| %>
        <div class="item-grid-item">
          <%= link_to image_tag(photo.photo_url(:small_thumb), class: "thumb"), account_job_proposal_item_path(@account, @job, @proposal, item) %>
        </div>
      <% end %>

      <div class="item-grid-item item-grid-item--width2 offer-item">
        <%= form_for item, remote: true do |f| %>
          <b>will purchase:</b> <%= best_in_place item, :will_purchase, as: :checkbox, collection: {false: "No", true: "Yes"}, place_holder: "Yes/No" %><br />
          <b>purchase price:</b> <%= best_in_place item, :purchase_price, display_with: lambda { |v| humanized_money_with_symbol(v).html_safe } %><br />
          <b>will consign:</b> <%= best_in_place item, :will_consign, as: :checkbox, collection: {false: "No", true: "Yes"}, place_holder: "Yes/No" %><br />
          <b>original asking price:</b> <%= best_in_place item, :listing_price, display_with: lambda { |v| humanized_money_with_symbol(v).html_safe } %><br />
          <b>minimum sale price:</b> <%= best_in_place item, :minimum_sale_price, display_with: lambda { |v| humanized_money_with_symbol(v).html_safe } %><br />
          <%= best_in_place item, :notes, place_holder: "<i>Condition/Notes</i>".html_safe %>
        <% end %>
      </div>

    </div>
  </div>
</div>
