<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center">Proposal</th>
          <th class="text-center">Date</th>
          <th class="text-center">Status</th>
          <th class="th-description">Job</th>
          <th class="th-description">Agreements</th>
          <th class="text-center">Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% proposals.each do |proposal| %>
          <% cache proposal do %>
            <tr>
              <td class="text-center">
                <%= link_to "<i class='material-icons md-48'>assignment</i> #{proposal.id}".html_safe, account_job_proposal_path(account, proposal.job, proposal) %>
              </td>
              <td class="text-center"><%= proposal.created_at.strftime("%m/%d/%y") %></td>
              <td class="text-center"><%= proposal.status %></td>
              <td>
                <%= link_to "<i class='material-icons'>map</i> No. #{proposal.job_id}: <br />#{proposal.job.address_1} <br />#{proposal.job.city}, #{proposal.job.state} #{proposal.job.zip}".html_safe, account_job_path(account, proposal.job) %>
              </td>
              <td class="text-center">
                <table>
                  <tbody>
                    <% proposal.agreements.each do |agreement| %>
                      <tr>
                        <td>No. <%= agreement.id %></td>
                        <td class="item-row-description">
                          <% if agreement.date %>
                            <%= agreement.date.strftime("%m/%d/%y") %>
                          <% end %>
                        </td>
                        <td class="item-row-description">
                          <%= link_to agreement.humanized_agreement_type, account_job_proposal_agreement_path(account, proposal.job_id, proposal, agreement) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
              <td class="text-center">
                <%= proposal.items.count %>
              </td>
              <td class="text-center">
                <%= render 'proposals/fab_menu', account: account, job: proposal.job, proposal: proposal, inline_fab: true %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
