<%= form_for @proposal, html: { class: "sigPad", id: "#{role}-signed" }, remote: true do |f| %>

  <div class="sig sigWrapper <%= role %>-signed">
    <canvas class="pad" width="360" height="55"></canvas>
    <%= f.hidden_field :"#{role}_signature", name: "signature", class: "output" %>
    <%= hidden_field_tag :role, role %>
  </div>

  <% unless @proposal.send("#{role}_signature") %>
    <%= f.submit "I accept the terms of this agreement", class: "btn btn-primary btn-raised", id: "#{role}-submit" %>
  <% end %>

<% end %>
