<h1 class="text-center">Proposal for <%= @proposal.client.full_name %></h1>
</br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'item_list' %>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">

    <div class="row">
      <div class="col-md-4"><h3>Choose an existing item:</h3></div>
      <div class="col-md-4">
        <div class="items-dropdown"></div>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to "Add Item", "javascript:void()", class: "btn btn-raised btn-primary", id: "add-existing-item-button" %>
      </div>
    </div>

    <%= render 'items/form', category: @proposal, item: Item.new, legend: "Or, Add an Item:", remote: true %>
    <br>
    <div class="text-center">
      <%= link_to "View Items <i class='fa fa-caret-right'></i>".html_safe, proposal_path(@proposal), class: "btn btn-raised btn-primary" %>
    </div>
  </div>
</div>
