<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-primary large-top-margin">

        <div class="panel-body">
          <div class="row text-center">
            <h2>Step 1: Upload Photos</h2>
          </div>

          <div class="row form-row text-center extra-large-top-margin">
            <%= form_tag(batch_create_photos_path, class: "form-horizontal", id: "proposal-photos-form", remote: true) do %>

              <%= hidden_field_tag :photo_type, "initial" %>
              <%= hidden_field_tag :proposal_id, @proposal.id %>

              <div class="row text-center top-margin">
                <div id="upload_widget_opener"></div>
              </div>

              <div class="row text-center top-margin">
                <%#= submit_tag "Save Photos", class: "btn btn-raised btn-primary" %>
              </div>

            <% end %>
          </div>

          <div class="text-right large-top-margin">
            <%= link_to "Step 2: Sort Items <i class='fa fa-caret-right'></i>".html_safe, account_job_proposal_sort_items_path(@account, @job, @proposal), class: "btn btn-raised btn-primary" %>
          </div>



      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="//widget.cloudinary.com/global/all.js"></script>

<script type="text/javascript">
  $('#upload_widget_opener').cloudinary_upload_widget(
    {
      cloud_name: "<%= ENV['CLOUDINARY_CLOUD_NAME'] %>",
      api_key: "<%= ENV['CLOUDINARY_API_KEY'] %>",
      upload_preset: 'cn48vdsp',
      sources: ['local', 'camera'],
      theme: 'white',
      button_class: 'btn btn-primary',
      button_caption: 'Select Images',
      multiple: true,
      resource_type: 'image',
      show_powered_by: false,
      field_name: 'photos[]'
    },
    function(error, result) {
      if (error) {
        console.log(error, result)
      } else {
        var $form = $("#proposal-photos-form");
        $form.submit();
      }
    }
  );
  $(document).on('cloudinarywidgetfileuploadsuccess', function(e, data) {
    console.log("Single file success", e, data);
  });
</script>
