<div class="col-xs-12 extra-large-top-margin">
  <div class="well bs-component">
    <div class="text-center">
      <h1>New Proposal</h1>
    </div>

    <% if @job %>

      <div class="row vertical-align">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <%= render 'form' %>
        </div>
      </div>

    <% else %>

      <div class="text-center">
        <h1>Is this for an existing job?</h1>
      </div>

      <div class="top-margin text-center">
        <%= link_to "No", new_account_job_path(@account), class: "btn btn-raised btn-primary btn-lg" %>
        <%= link_to "Yes", "", class: "btn btn-raised btn-primary btn-lg", id: "job-selector-button" %>
      </div>

      <div class="row large-top-margin hidden" id="job-selector">

        <%= form_for @proposal do |f| %>
          <%= hidden_field_tag(:account_id, @account.id) %>
          <%= hidden_field_tag(:job_id, "") %>

          <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="jobs-dropdown" data-class-name="Job" data-account-id="<%= @account.id %>"></div>
          </div>
          <div class="text-center hidden" id="new-account-job-proposal-button">
            <%= f.submit class: "btn btn-raised btn-primary" %>
          </div>
        </div>

      <% end %>

    <% end %>

  </div>
</div>
