<h1 class="text-center">New Proposal</h1>
</br>

<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">

    <% if @accounts.present? %>
      <%= render 'form', legend: "New Proposal" %>
    <% end %>

    <div class="row">
      <div class="text-center">
        <% if @accounts.present? %>
          - or -</br>
        <% end %>
        <%= link_to "New Client", "javascript:void(0)", class: "btn btn-raised btn-primary", id: "new-client-button" %>
      </div>
    </div>

    <div class="row hidden" id="new-client-form">

      <%= form_for @client, url: create_client_path do |f| %>

        <%= render 'users/form', resource: @client, f: f %>
        <div class="text-center">
          <%= f.submit "Create Client", class: "btn btn-raised btn-success" %>
        </div>

      <% end %>
    </div>

  </div>
</div>
