<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">
    <%= render 'header', form_name: "Proposal Response" %>

    <div class="row large-top-margin">
      <% @items.each do |item| %>
        <div class="col-xs-12 col-md-6 proposal-response-item">
          <div class="row">
            <div class="col-xs-12">
              Item #<%= item.id %>: <%= item.description %>
            </div>
          </div>
          <div class="row vertical-align">
            <div class="col-xs-3">
              <% if item.initial_photos.present? %>
                <%= image_tag(item.initial_photos.first.photo_url(:small_thumb)) %>
              <% else %>
                <%= image_tag("thumb_No_Image_Available.png", class: "small-thumb") %>
              <% end %>
            </div>
            <div class="col-xs-9">
              <%= form_for item, remote: true do |f| %>
                <div class="row">
                  <% %w(sell consign donate).each do |intention| %>
                    <div class="col-sm-4 col-xs-8 text-right">
                      <%= f.label :client_intention, intention %>
                      <%= f.radio_button :client_intention, intention, class: "selector intention-selector", id: "item_#{item.id}_client_intention_#{intention}" %>
                    </div>
                  <% end %>
                </div>
                <div class="row">
                  <% %w(dump move nothing).each do |intention| %>
                    <div class="col-sm-4 col-xs-8 text-right">
                      <%= f.label :client_intention, intention %>
                      <%= f.radio_button :client_intention, intention, class: "selector intention-selector", id: "item_#{item.id}_client_intention_#{intention}" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <div class="row">
                <div class="col-xs-4 text-right">
                  notes:
                </div>
                <div class="col-xs-8 hidden-print">
                  <%= best_in_place item, :notes, place_holder: "<i>click or tap here to edit</i>".html_safe %>
                </div>
              </div>
            </div>

          </div>
        </div>

      <% end %>
    </div>

    <% if current_user.internal? %>

      <div class="row large-top-margin hidden-print">
        <div class="col-xs-6">
          <%= link_to "<i class='fa fa-caret-left'></i> Step 4: View Proposal".html_safe, proposal_path(@proposal), class: "btn btn-raised btn-success btn-responsive" %>
        </div>
        <div class="col-xs-6 text-right">
          <%= link_to "Step 6: Generate Agreements <i class='fa fa-caret-right'></i>".html_safe, proposal_agreements_path(@proposal), method: :post, class: "btn btn-raised btn-success btn-responsive" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
