<h1 class="text-center hidden-print bottom-margin">Items for <%= @proposal.client.full_name %></h1>

<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">
    <%= render 'header', form_name: "Proposal" %>
    <%= render 'disclaimer' %>
    <%= render 'item_list', items: @items %>
    <div class="row hidden-print">
      <div class="col-xs-6">
        <%= link_to "<i class='fa fa-caret-left'></i> Step 2: Details".html_safe, account_job_proposal_details_path(@account, @job, @proposal), class: "btn btn-raised btn-success" %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to "Step 4: Client Proposal Response Form <i class='fa fa-caret-right'></i>".html_safe, account_job_proposal_response_form_path(@account, @job, @proposal), class: "btn btn-raised btn-success" %>
      </div>
    </div>
  </div>
</div>
