<% meta title: "Proposal - #{@account.short_name}" %>

<div class="container-fluid">

  <div class="col-md-8 col-md-offset-2">

    <% unless params[:print] %>
      <% if current_user.try(:internal?) %>
        <div class="hidden-print">
          <%= render 'email_note_modal' %>
          <%= link_to "<i class='fa fa-caret-left'></i> Back to Job".html_safe, account_job_path(@account, @job), class: "btn btn-raised btn-primary hidden-print" %>
          <button type="button" class="btn btn-raised btn-primary pull-right" data-toggle="modal" data-target="#email-note-modal">
            Send this Proposal <i class='material-icons'>email</i>
          </button>
        </div>
      <% end %>
    <% end %>

    <%= render 'proposals/header', form_name: "Proposal", company: @company, proposal: @proposal, account: @account, job: @job, agreement: nil, statement: nil %>
    <%= render 'disclaimer' %>

    <% cache [@proposal, @items, action_name] do %>
      <% @items.each do |item| %>
        <%= render 'item_row', collection: @items, cached: true, item: item %>
      <% end %>
    <% end %>

    <% unless current_user.try(:internal?) %>
      <%= render 'email_response_note_modal' %>
      <div class="row hidden-print top-margin">
        <button type="button" class="btn btn-raised btn-primary pull-right" data-toggle="modal" data-target="#email-response-note-modal">
          I'm finished! <i class='material-icons'>email</i>
        </button>
      </div>
    <% end %>


    <% if current_user.try(:internal?) %>
      <div class="row hidden-print">
        <div class="col-xs-6">
          <%= link_to "<i class='fa fa-caret-left'></i> Step 4: Details".html_safe, account_job_proposal_details_path(@account, @job, @proposal), class: "btn btn-raised btn-success" %>
        </div>
        <div class="col-xs-6 text-right">
          <%= link_to "Step 6: Generate Agreements <i class='fa fa-caret-right'></i>".html_safe, account_job_proposal_agreements_path(@account, @job, @proposal), method: :post, class: "btn btn-raised btn-success btn-responsive" %>
        </div>
      </div>
    <% end %>

  </div>

</div>

<% if current_user.try(:internal?) %>
  <% content_for :fab do %>
    <%= render 'proposals/fab_menu', account: @account, job: @job, proposal: @proposal %>
  <% end %>
<% end %>
