<h1 class="text-center hidden-print large-top-margin bottom-margin">Items for <%= @proposal.client.full_name %></h1>

<div class="col-md-8 col-md-offset-2">
  
  <%= link_to "<i class='fa fa-caret-left'></i> Back to Job".html_safe, account_job_path(@account, @job), class: "btn btn-raised btn-primary hidden-print" %>

  <div class="well bs-component">
    <%= render 'header', form_name: "Proposal" %>
    <%= render 'disclaimer' %>

    <% @proposal.items.each do |item| %>
      <%= render 'item_row', item: item %>
    <% end %>

    <div class="row hidden-print">
      <div class="col-xs-6">
        <%= link_to "<i class='fa fa-caret-left'></i> Step 2: Details".html_safe, account_job_proposal_details_path(@account, @job, @proposal), class: "btn btn-raised btn-success" %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to "Step 4: Generate Agreements <i class='fa fa-caret-right'></i>".html_safe, account_job_proposal_agreements_path(@account, @job, @proposal), method: :post, class: "btn btn-raised btn-success btn-responsive" %>
      </div>
    </div>
  </div>
</div>
