<h1 class="text-center">Items for <%= @proposal.client.full_name %></h1>
</br>

<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">
    <%= render 'header', form_name: "Proposal" %>
    <%= render 'disclaimer' %>
    <%= render 'item_list', items: @items %>
    <div class="row">
      <div class="col-xs-6">
        <%= link_to "<i class='fa fa-caret-left'></i> Step 2: Details".html_safe, proposal_details_path(@proposal), class: "btn btn-raised btn-success" %>
      </div>
      <div class="col-xs-6 text-right">
        <%= link_to "Step 4: Client Proposal Response Form <i class='fa fa-caret-right'></i>".html_safe, proposal_response_form_path(@proposal), class: "btn btn-raised btn-success" %>
      </div>
    </div>
  </div>
</div>
