<h1 class="text-center">Items for <%= @proposal.client.full_name %></h1>
</br>

<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">
    <%= render 'header', form_name: "Proposal" %>
    <%= render 'disclaimer' %>
    <%= render 'item_list' %>
    <div class="text-center">
      <%= link_to "<i class='fa fa-caret-left'></i> Add More Items".html_safe, edit_proposal_path(@proposal), class: "btn btn-raised btn-success" %>
      <%= link_to "Proposal Response Form <i class='fa fa-caret-right'></i>".html_safe, proposal_response_form_path(@proposal), class: "btn btn-raised btn-success" %>
    </div>
  </div>
</div>
