<% if current_user.try(:internal?) %>
  <% breadcrumb :proposal, @proposal %>
<% end %>

<% unless params[:print] %>
  <h1 class="text-center hidden-print bottom-margin">Proposal for <%= @proposal.account.full_name %></h1>
<% end %>

<div class="col-md-8 col-md-offset-2">

  <% unless params[:print] %>
    <% if current_user.try(:internal?) %>
      <div class="hidden-print">
        <%= render 'email_note_modal' %>
        <%= link_to "<i class='fa fa-caret-left'></i> Back to Job".html_safe, account_job_path(@account, @job), class: "btn btn-raised btn-primary hidden-print" %>
        <button type="button" class="btn btn-raised btn-primary pull-right" data-toggle="modal" data-target="#email-note-modal">
          Send this Proposal <i class='material-icons'>email</i>
        </button>
      </div>
    <% end %>
  <% end %>

  <div class="well bs-component">
    <%= render 'header', form_name: "Proposal", company: @company, proposal: @proposal, account: @account, job: @job, client: @client %>
    <%= render 'disclaimer' %>

    <% @items.each do |item| %>
      <% cache [@proposal, action_name, item] do %>
        <%= render 'item_row', collection: @items, cached: true, item: item %>
      <% end %>
    <% end %>

    <% if current_user.try(:internal?) %>
      <div class="row hidden-print">
        <div class="col-xs-6">
          <%= link_to "<i class='fa fa-caret-left'></i> Step 2: Details".html_safe, account_job_proposal_details_path(@account, @job, @proposal), class: "btn btn-raised btn-success" %>
        </div>
        <div class="col-xs-6 text-right">
          <%= link_to "Step 4: Generate Agreements <i class='fa fa-caret-right'></i>".html_safe, account_job_proposal_agreements_path(@account, @job, @proposal), method: :post, class: "btn btn-raised btn-success btn-responsive" %>
        </div>
      </div>

    <% else %>

      <%= render 'email_response_note_modal' %>
      <div class="row hidden-print top-margin">
        <button type="button" class="btn btn-raised btn-primary pull-right" data-toggle="modal" data-target="#email-response-note-modal">
          I'm finished! <i class='material-icons'>email</i>
        </button>
      </div>

    <% end %>

  </div>
</div>
