<div class="row vertical-align">
  <div class="col-xs-3">
    <% if activity.owner %>
      <%= link_to image_tag(activity.owner.avatar_url(:thumb), class: "img-rounded img-responsive img-raised"), account_path(activity.owner) %>
    <% else %>
      <%= image_tag(AvatarUploader.new.default_url(:thumb), class: "img-rounded img-responsive img-raised") %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <p>
      <small>
        <i class="material-icons activity-feed-timestamp">access_time</i>
        <i><span class="activity-timestamp" data-timestamp="<%= activity.created_at %>"></span></i>
      </small>
    </p>
    <% if activity.owner %>
      <%= link_to activity.owner.full_name, account_path(activity.owner) %>
    <% else %>
      Someone
    <% end %>
    <%= "#{activity.key.split('.').last}d an #{activity.key.split('.').first}" %>
    <%= link_to "#{activity.trackable.account.full_name} - #{activity.trackable.humanized_agreement_type}", activity.trackable %>
  </div>
  <% if activity.trackable.pdf.present? %>
    <div class="col-xs-3">
      <%= link_to image_tag(activity.trackable.pdf_url(client_hints: true, quality: "auto", fetch_format: :auto, dpr: "auto", effect: :improve, width: "120", height: "160", crop: "fill"), class: "img-rounded img-responsive img-raised"), agreement_url(activity.trackable) %>
    </div>
  <% end %>
</div>
