<%= direct_upload_form_for @uploader, class: "form-horizontal" do |f| %>
  <legend><%= legend %></legend>
  <div class="row form-row">
    <div class="">
      <%= f.label :archive %>
      <%= f.file_field :archive, class: "dropzone" %>
    </div>
    <div class="text-center">
      <%= f.submit "Process Items", class: "btn btn-raised btn-primary" %>
    </div>
  </div>
<% end %>
