<div class="card card-product card-plain card-rotate">
  <div class="rotating-card-container">
    <div class="card-image">
      <div class="front">
        <%= image_tag(item.featured_photo.photo_url(
          client_hints: true, width: "auto",
          transformation: [
            { gravity: "auto", aspect_ratio: "3:4", crop: "fill" },
            { width: "auto:50", fetch_format: "auto", quality: "auto", crop: "scale" }
          ]
        )) %>
      </div>

      <div class="back back-background">
        <div class="card-content">
          <div class="footer text-center">
            <%= link_to "<i class='material-icons'>info</i> Details".html_safe, item_path(item), class: "btn btn-round btn-white" %>
          </div>
          <% if action_name == "home" %>
            <hr/>
            <%= link_to "View more items in this category", category_path(item.category), class: "btn btn-round btn-white" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-content">
    <h4 class="card-title">
      <%= link_to item.description.titleize, item_path(item) %>
    </h4>
    <div class="footer price text-center">
      <%= humanized_money_with_symbol(item.listing_price) %>
    </div>
  </div>
</div>
