<legend><%= legend %></legend>

<% if item.errors.present? %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="error_messages notice alert alert-danger text-center">
        <% item.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<% unless @client.present? %>
  <div class="row form-row">
    <div class="text-center">
      <div class="col-xs-12 col-md-3 form-label">
        <%= f.label :client, class: "control-label" %>
      </div>
      <div class="col-xs-12 col-md-9 text-left">
        <%= f.collection_select :client_id, @clients, :id, :full_name, {include_blank: "Select Client"}, {class: "form-control"} %>
      </div>
    </div>
  </div>
<% end %>

<div class="row form-row">
  <div class="text-center">
    <div class="col-xs-12 col-md-3 form-label">
      <%= f.label :category, class: "control-label" %>
    </div>
    <div class="col-xs-12 col-md-9 text-left">
      <%= f.collection_select :category_id, @categories, :id, :name, {include_blank: "Select Category"}, {class: "form-control"} %>
    </div>
  </div>
</div>

<div class="row form-row">
  <div class="text-center">
    <div class="col-xs-12 col-md-3 form-label">
      <%= f.label :name, class: "control-label required" %>
    </div>
    <div class="col-xs-12 col-md-9 text-left">
      <%= f.text_field :name, class: "form-control", placeholder: "Item name", required: true %>
    </div>
  </div>
</div>

<div class="row form-row">
  <div class="text-center">
    <div class="col-xs-12 col-md-3 form-label">
      <%= f.label :description, class: "control-label required" %>
    </div>
    <div class="col-xs-12 col-md-9 text-left">
      <%= f.text_area :description, class: "form-control", placeholder: "Item description", required: true %>
    </div>
  </div>
</div>

<div class="row form-row">
  <%= f.fields_for :photos, Photo.new do |ff| %>
    <div class="text-center">
      <div class="col-xs-12 col-md-3 form-label">
        <%= ff.label :initial_photos, class: "control-label" %>
      </div>
      <div class="col-xs-12 col-md-9 text-left">
        <%= ff.file_field :photos, multiple: true, class: "dropzone form-control", name: "initial_photos[]" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row form-row">
  <%= f.fields_for :photos, Photo.new do |ff| %>
    <div class="text-center">
      <div class="col-xs-12 col-md-3 form-label">
        <%= ff.label :listing_photos, class: "control-label" %>
      </div>
      <div class="col-xs-12 col-md-9 text-left">
        <%= ff.file_field :photos, multiple: true, class: "dropzone form-control", name: "listing_photos[]" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row form-row">
  <div class="text-center">
    <div class="col-xs-12 col-md-3 form-label">
      <%= f.label :listing_price, class: "control-label" %>
    </div>
    <div class="col-xs-12 col-md-3 text-left">
      <%= f.text_field :listing_price, class: "form-control", placeholder: "$" %>
    </div>
  </div>
</div>

<div class="row form-row">
  <div class="text-center">
    <div class="col-xs-12 col-md-3 form-label">
      <%= f.label :purchase_price, class: "control-label" %>
    </div>
    <div class="col-xs-12 col-md-3 text-left">
      <%= f.text_field :purchase_price, class: "form-control", placeholder: "$" %>
    </div>
  </div>
</div>

<div class="row form-row">
  <div class="text-center">
    <div class="col-xs-12 col-md-3 form-label">
      <%= f.label :minimum_sale_price, class: "control-label" %>
    </div>
    <div class="col-xs-12 col-md-3 text-left">
      <%= f.text_field :minimum_sale_price, class: "form-control", placeholder: "$" %>
    </div>
  </div>
</div>

<div class="row form-row">
  <div class="text-center">
    <div class="col-xs-12 col-md-3 form-label">
      <%= f.label :condition, class: "control-label" %>
    </div>
    <div class="col-xs-12 col-md-3 text-left">
      <%= f.text_field :condition, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row form-row">
  <div class="actions">
    <div class="col-xs-12 text-center">
      <%= f.submit "Add Item", class: "btn btn-raised btn-primary" %>
    </div>
  </div>
</div>
