<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="text-center th-description">Item</th>
          <th class="text-center">Account Item No.</th>
          <th class="text-center">SKU</th>
          <th class="text-center">Listing Price</th>
          <th class="text-center">Consignment Rate</th>
          <th class="text-center">Minimum Sale Price</th>
          <th class="text-center">Sale Date</th>
          <th class="text-center">Sale Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <td class="text-center">
              <div class="img-container">
                <%= link_to image_tag(item.featured_photo_url(:thumb), class: "img-rounded img-responsive img-raised"), item_path(item) %>
              </div>
            </td>
            <td class="td-name">
              <%= link_to "#{item.description}", item_path(item) %>
              <br><small>from <%= link_to item.account.full_name, account_path(item.account) %></small>
            </td>
            <td class="text-center">
              <%= item.account_item_number %>
            </td>
            <td class="text-center">
              <%= item.id %>
            </td>
            <td class="text-center">
              <%= humanized_money_with_symbol(item.listing_price) %>
            </td>
            <td class="text-center">
              <% if item.consigned? %>
                <%= item.consignment_rate %>%
              <% else %>
                N/A
              <% end %>
            </td>
            <td class="text-center">
              <%= humanized_money_with_symbol(item.minimum_sale_price) %>
            </td>
            <td class="text-center">
              <% if item.sold? && item.sold_at %>
                <h4><%= item.sold_at.strftime("%-m/%-d/%y") %></h4>
              <% end %>
            </td>
            <td class="text-center">
              <% if item.sold? %>
                <h4><%= humanized_money_with_symbol(item.sale_price) %></h4>
              <% end %>
            </td>
            <!-- <td class="td-actions">
              <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-simple" data-original-title="Remove item">
                  <i class="material-icons">close</i>
              </button>
            </td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
