<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="th-description">Item</th>
          <th class="text-center hidden-xs">SKU</th>
          <% if current_user.try(:internal?) %>
            <th class="text-center">Account Item No.</th>
            <th class="text-center">Listing Price</th>
            <th class="text-center">Consignment Rate</th>
            <th class="text-center">Minimum Sale Price</th>
            <th class="text-center">Sale Date</th>
            <th class="text-center">Sale Price</th>
            <th></th>
          <% else %>
            <th class="text-center">Price</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <td class="text-center">
              <div class="img-container">
                <%= link_to image_tag(item.featured_photo_url(:thumb), class: "img-rounded img-responsive img-raised"), item_path(item) %>
              </div>
            </td>
            <td class="td-name">
              <%= link_to "#{item.description}", item_path(item) %>
              <% if current_user.try(:internal?) && controller_name != "jobs" %>
                <br><small>from <%= link_to item.account.full_name, account_path(item.account) %></small>
              <% end %>
            </td>
            <td class="text-center hidden-xs">
              <%= item.id %>
            </td>
            <% if current_user.try(:internal?) %>
              <td class="text-center">
                <%= item.account_item_number %>
              </td>
              <td class="text-center">
                <%= humanized_money_with_symbol(item.listing_price) %>
              </td>
              <td class="text-center">
                <% if item.consigned? %>
                  <%= item.consignment_rate %>%
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <%= humanized_money_with_symbol(item.minimum_sale_price) %>
              </td>
              <td class="text-center">
                <% if item.sold? && item.sold_at %>
                  <h4><%= item.sold_at.strftime("%-m/%-d/%y") %></h4>
                <% end %>
              </td>
              <td class="text-center">
                <% if item.sold? %>
                  <h4><%= humanized_money_with_symbol(item.sale_price) %></h4>
                <% end %>
              </td>
              <td class="td-actions text-center">
                <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_item_path(item.account, item.job, item.proposal, item), class: "btn btn-fab btn-fab-mini btn-primary" %>
                <% if item.active? %>
                  <br />
                  <br />
                  <div class="text-left">
                    <%= render 'items/mark_sold_modal', item: item %>
                  </div>
                  <button type="button" class="btn btn-raised btn-success btn-round" data-toggle="modal" data-target="#<%= item.id %>-mark-sold-modal">
                    Mark as Sold <i class='material-icons'>done</i>
                  </button>
                <% end %>
              </td>
            <% else %>
              <td class="text-center">
                <%= humanized_money_with_symbol(item.listing_price) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
