<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping">

      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="th-description">Item</th>
          <% headers.each do |header| %>
            <th class="text-center"><%= header %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% items.each do |item| %>
          <% cache item do %>
            <tr class="no-break">
              <td class="text-center">
                <div class="img-container">
                  <%= link_to image_tag(item.featured_photo_url(:thumb), class: "img-rounded img-responsive img-raised"), item_path(item) %>
                </div>
              </td>
              <td class="td-name">
                <%= link_to "#{item.description}", item_path(item) %>
                <% if current_user.try(:internal?) && (controller_name != "jobs" && controller_name != "agreements") %>
                  <br><small>from <%= link_to item.account.full_name, account_path(item.account) %></small>
                <% end %>
              </td>

              <% headers.each do |header| %>
                <td class="text-center hidden-xs">
                  <% case context %>
                  <% when "purchase_invoice" %>
                    <%= purchase_invoice_values(item)[header] %>
                  <% when "consignment_agreement" %>
                    <%= consignment_values(item)[header] %>
                  <% when "general" %>
                    <%= general_values(item)[header] %>
                  <% end %>
                </td>
              <% end %>

              <% if current_user.try(:internal?) %>
                <td class="td-actions text-center">
                  <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_item_path(item.account, item.job, item.proposal, item, redirect_url: request.original_url), class: "btn btn-fab btn-fab-mini btn-primary hidden-print" %>
                  <% if item.active? %>
                    <br />
                    <br />
                    <div class="text-left hidden-print">
                      <%= render 'items/mark_sold_modal', item: item, cached: true, redirect_url: request.original_url %>
                    </div>
                    <button type="button" class="btn btn-raised btn-success btn-round hidden-print" data-toggle="modal" data-target="#<%= item.id %>-mark-sold-modal">
                      Mark as Sold <i class='material-icons'>done</i>
                    </button>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>

    </table>
  </div>

</div>
