<div class="row">
  <% if current_user.try(:internal?) && controller_name != 'mailer' %>
    <div class="text-right">
      <%= link_to "Print Labels", labels_items_url(by_id: items.map(&:id)), class: "btn btn-info btn-raised btn-round", target: "blank" %>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-shopping">

      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="th-description">Item</th>
          <% headers.each do |header| %>
            <% sort_params = { order: header_sort_values[header] }.merge(params.except(:action, :controller, :page, :order)) %>
            <% if params[:order] == header_sort_values[header] %>
              <% sort_params[:order] = "#{header_sort_values[header]} DESC NULLS LAST" %>
            <% elsif params[:order] == "#{header_sort_values[header]} DESC NULLS LAST" %>
              <% sort_params[:order] = header_sort_values[header] %>
            <% end %>
            <th class="text-center"><%= link_to header, (!request.nil? ? "#{request.path}?#{sort_params.to_param}" : "#") %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% items.each do |item| %>
          <% cache [item, context, params, current_user.try(:role)] do %>
            <tr class="no-break">
              <td class="text-center">
                <div class="img-container">
                  <%= link_to image_tag(item.featured_photo.photo_url(client_hints: true, quality: "auto", fetch_format: :auto, dpr: "auto", effect: :improve, width: "120", height: "160", crop: "fill"), class: "img-rounded img-responsive img-raised"), item_url(item) %>
                </div>
              </td>
              <td class="td-name">
                <% if controller_name == "agreements" %>
                  <% desc = item.original_description.try(:titleize) || item.description.titleize %>
                <% end %>
                <%= link_to (controller_name == "agreements" ? desc : item.description.titleize), item_url(item) %>
                <% if current_user.try(:internal?) && !controller_name.in?(["jobs", "agreements", "mailer"]) %>
                  <br><small>from: <%= link_to item.account.full_name, account_url(item.account) %></small>
                <% end %>
                <br><small>SKU: <%= item.id %></small>
              </td>

              <% headers.each do |header| %>
                <td class="text-center hidden-xs">
                  <% case context %>
                  <% when "purchase_invoice" %>
                    <%= purchase_invoice_values(item)[header] %>
                  <% when "consignment_agreement" %>
                    <%= consignment_values(item)[header] %>
                  <% when "consignment_statement" %>
                    <%= statement_values(item)[header] %>
                  <% when "general" %>
                    <%= general_values(item)[header] %>
                  <% when "summary" %>
                    <%= summary_values(item)[header] %>
                  <% end %>
                </td>
              <% end %>

              <% if current_user.try(:internal?) && !controller_name.in?(%w(mailer purchases)) %>
                <td class="text-center">
                  <%= render "items/fab_menu", item:  item %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>

    </table>
  </div>

  <% unless controller_name.in?(%w(proposals agreements purchases search mailer)) %>

    <div class="text-center">
      <%= paginate items, params: params, html: {class: "pagination pagination-info"} %>
    </div>

  <% end %>

</div>
