<div class="modal fade" tabindex="-1" role="dialog" id="mark-sold-modal">
  <div class="modal-dialog">
    <%= form_tag '', method: :put do %>

      <% if local_assigns[:redirect_url] %>
        <%= hidden_field_tag :redirect_url, redirect_url %>
      <% end %>

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Item Description</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group label-floating">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                  </span>
                  <%= label_tag :sale_price, "sale price", class: "control-label" %>
                  <%= text_field_tag :sale_price, nil, name: "item[sale_price]", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <div class="form-group label-floating">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                  <%= label_tag :sold_at, "sold at", class: "control-label" %>
                  <%= text_field_tag :sold_at, nil, name: "item[sold_at]", class: "form-control datepicker" %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <%= submit_tag "Update Item", class: "btn btn-raised btn-primary" %>
        </div>
      </div><!-- /.modal-content -->
    <% end %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
