<div class="panel-heading <%= item.panel_color %>">
  <div class="row vertical-align">
    <div class="col-xs-2 text-left">
      <span>No. <%= item.account_item_number %></span><br /><br />
      <span>SKU <%= item.id %></span>
    </div>
    <div class="col-xs-8 text-center">
      <% if current_user.internal? %>
        <h1><%= link_to "#{item.description}", account_job_proposal_item_path(account, job, proposal, item) %></h1>
      <% else %>
        <h1><%= item.description %></h1>
      <% end %>
    </div>
    <div class="col-xs-2 text-right hidden-print">
      <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_item_path(account, job, proposal, item), class: "btn btn-fab btn-fab-mini btn-primary" %><br /><br />
      <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, item_path(item), method: :delete, class: "btn btn-fab btn-fab-mini btn-danger", data: {confirm: "Are you sure?", :'confirm-button-text' => "Yes, I'm sure", :'cancel-button-text' => "No, cancel!", :'sweet-alert-type' => 'warning', :'confirm-button-color' => '#f44336', text: "This will delete the item. This is irreversable."} %>
    </div>
  </div>
</div>
