<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Items</h1>
    <% if @filter.present? %>
      <% case @filter %>
      <% when "Potential" %>
        <h4><%= @filter %> items have not yet been listed for sale or consigned.</h4>
      <% when "Active" %>
        <% if @type == "sell" %>
          <h4>For Sale items have a signed purchase order and are actively for sale.</h4>
        <% elsif @type == "consign" %>
          <h4>Consigned items have a signed agreement and are actively on consignment.</h4>
        <% else %>
          <h4>Active items are actively for sale or on consignment.</h4>
        <% end %>
      <% when "Sold" %>
        <h4><%= @filter %> items have been sold.</h4>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Tabs -->
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="row">
      <ul class="nav nav-pills nav-pills-icons nav-pills-primary text-center" role="tablist">
        <% if current_user.try(:internal?) %>
          <% @intentions.each do |intention| %>
            <li class="">
              <a href="#<%= intention %>" aria-controls="<%= intention %>" role="tab" data-toggle="tab" aria-expanded="false">
                <%= @intentions_map[intention][:icon].html_safe %>
                <h5><%= @intentions_map[intention][:display_name] %></h5>
              </a>
            </li>
          <% end %>
        <% else %>
          <% @categories.each do |category| %>
            <li class="">
              <a href="#<%= category.name %>" aria-controls="<%= category.name %>" role="tab" data-toggle="tab" aria-expanded="false">
                <h5><%= category.name %></h5>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="large-top-margin">
      <div class="tab-content">
        <% if current_user.try(:internal?) %>
          <% @intentions.each do |intention| %>
            <div role="tabpanel" class="tab-pane fade" id="<%= intention %>">
              <%= render "items_list", headers: general_headers, context: "general", items: @items.where(client_intention: intention) %>
            </div>
          <% end %>
        <% else %>
          <% @categories.each do |category| %>
            <div role="tabpanel" class="tab-pane fade" id="<%= category.name %>">
              <%= render "items_list", headers: general_headers, context: "general", items: category.items.active %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
