<h1 class="text-center"><%= @item.category.name %></h1>
</br>

<div class="col-md-8 col-md-offset-2">
  <div class="well bs-component">
    <p><i>Click on a field to edit.</i></p>

    <h3><%= best_in_place [@category, @item], :name %></h4></br>

    <%= best_in_place [@category, @item], :description %></br></br>

    <% @item.initial_photos.each do |photo| %>
      <div class="row text-center">
        <%= image_tag photo.thumb.url, class: "img-rounded" %></br></br>
      </div>
    <% end %>

    <%= @item.barcode.html_safe %>

  </div>
</div>
