<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title"><%= @item.description %></h1>
  </div>
</div>

<%= render 'mark_sold_modal' %>
<%= render 'new_item_from_batch_modal' %>

<div class="row text-center">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <%= render 'header_cards' %>
  </div>
</div>

<div class="section text-center section section-dark">

  <div class="row vertical-align">
    <!-- <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2"> -->
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">

        <div class="tab-content">
          <% @item.initial_photos.each do |photo| %>
            <div class="tab-pane large-top-margin" id="product-page<%= photo.id %>">
              <%= image_tag(photo.photo_url, class: "img-rounded img-responsive img-raised img-featured") %>
            </div>
          <% end %>
        </div>

        <ul class="nav flexi-nav top-margin" role="tablist" id="flexiselDemo1">
          <% @item.initial_photos.each do |photo| %>
            <li class="nbs-flexisel-item">
              <a href="#product-page<%= photo.id %>" role="tab" data-toggle="tab" aria-expanded="false" class="img-tab">
                <%= image_tag(photo.photo_url(:small_thumb), class: "img-rounded img-responsive img-raised") %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <!-- </div> -->

    <div class="col-xs-10 col-xs-offset-1 col-md-4">
      <div class="card card-pricing">
        <div class="content">
          <span class="hidden-print">
              <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item), class: "btn btn-fab btn-fab-mini btn-primary pull-left" %>
          </span>
          <span class="hidden-print">
              <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, item_path(@item), method: :delete, class: "btn btn-fab btn-fab-mini btn-danger pull-right", data: {confirm: "Are you sure?", :'confirm-button-text' => "Yes, I'm sure", :'cancel-button-text' => "No, cancel!", :'sweet-alert-type' => 'warning', :'confirm-button-color' => '#f44336', text: "This will delete the item. This is irreversable."} %>
          </span>
          <h6 class="category text-success"><%= @item.description %></h6>
          <% if @item.listing_price_cents %>
            <h1 class="card-title"><small>$</small><%= humanized_money(@item.listing_price) %></h1>
          <% end %>
          <% if current_user.try(:internal?) %>
            <ul>
              <li>No. <%= @item.account_item_number %></li>
              <li>SKU <%= @item.id %></li>
              <li><%= @item.ownership_type %></li>
              <% if @item.consigned? %>
                <li>at <%= @item.consignment_rate %>%</li>
              <% end %>
              <li>Min. Price: <%= humanized_money_with_symbol(@item.minimum_sale_price) %></li>
              <li><%= @item.status.titleize %></li>
              <% if @item.sold? %>
                <li>for <%= humanized_money_with_symbol(@item.sale_price) %></li>
              <% end %>
            </ul>
            <% unless @item.sold? %>
              <button type="button" class="btn btn-raised btn-primary btn-round" data-toggle="modal" data-target="#<%= @item.id %>-mark-sold-modal">
                Mark as Sold <i class='material-icons'>done</i>
              </button>
            <% end %>
            <button type="button" class="btn btn-raised btn-notice btn-round" data-toggle="modal" data-target="#new-item-from-batch-modal">
              Create Item from this Batch <i class='material-icons'>content_copy</i>
            </button>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
