<%= render 'mark_sold_modal' %>

<div class="row extra-large-top-margin grid">
  <div class="grid-sizer col-xs-6 col-md-3"></div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= link_to @item.account.account_number, account_path(@item.account) %></h1>
      </div>
      <div class="panel-heading complement-primary">
        <h3><%= link_to "<i class='material-icons'>person</i> Account Number".html_safe, account_path(@item.account) %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= link_to @item.job.id, account_job_path(@item.account, @item.job) %></h1>
      </div>
      <div class="panel-heading complement-darker">
        <h3><%= link_to "<i class='material-icons md-24'>assignment_ind</i> Job Number".html_safe, account_job_path(@item.account, @item.job) %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= link_to @item.proposal.id, account_job_proposal_path(@item.account, @item.job, @item.proposal) %></h1>
      </div>
      <div class="panel-heading secondary-primary">
        <h3><%= link_to "Proposal Number", account_job_proposal_path(@item.account, @item.job, @item.proposal) %></h3>
      </div>
    </div>
  </div>

  <% if @item.agreement.present? %>
    <div class="grid-item col-xs-6 col-md-3">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
            <h1><%= link_to @item.agreement.id, account_job_proposal_agreement_path(@item.account, @item.job, @item.proposal, @item.agreement) %></h1>
        </div>
        <div class="panel-heading secondary-darker">
          <h3><%= link_to "Agreement Number", account_job_proposal_agreement_path(@item.account, @item.job, @item.proposal, @item.agreement) %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary large-top-margin">

      <div class="panel-heading <%= @item.panel_color %>">
        <div class="row vertical-align">
          <div class="col-xs-2 text-left">
            <span>No. <%= @item.account_item_number %></span><br /><br />
            <span>SKU <%= @item.id %></span>
          </div>
          <div class="col-xs-8 text-center">
            <% if current_user.internal? %>
              <h1><%= link_to "#{@item.description}", account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item) %></h1>
            <% else %>
              <h1><%= @item.description %></h1>
            <% end %>
          </div>
          <div class="col-xs-2 text-right hidden-print">
            <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item), class: "btn btn-fab btn-fab-mini btn-primary" %><br /><br />
            <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, item_path(@item), method: :delete, class: "btn btn-fab btn-fab-mini btn-danger", data: {confirm: "Are you sure?", :'confirm-button-text' => "Yes, I'm sure", :'cancel-button-text' => "No, cancel!", :'sweet-alert-type' => 'warning', :'confirm-button-color' => '#f44336', text: "This will delete the item. This is irreversable."} %>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row grid">
              <div class="col-xs-6 grid-sizer"></div>
              <% if @item.listing_photos.present? %>
                <% @item.listing_photos.each do |photo| %>
                  <div class="col-xs-6 grid-item" id="photo-<%= photo.id %>">
                    <%= link_to image_tag(photo.photo_url, class: "thumb"), account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item) %>
                    <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, "javascript:void(0)", method: :delete, class: "btn btn-fab btn-fab-mini btn-danger delete-button", data: { photo_id: photo.id } %>
                  </div>
                <% end %>
              <% elsif @item.initial_photos.present? %>
                <% @item.initial_photos.each do |photo| %>
                  <div class="col-xs-6 grid-item" id="photo-<%= photo.id %>">
                    <%= link_to image_tag(photo.photo_url, class: "thumb"), account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item) %>
                    <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, "javascript:void(0)", method: :delete, class: "btn btn-fab btn-fab-mini btn-danger delete-button", data: { photo_id: photo.id } %>
                  </div>
                <% end %>
              <% else %>
                <div class="col-xs-6 grid-item grid-item--width2">
                  <%= link_to image_tag("thumb_No_Image_Available.png", class: "thumb"), account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item) %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 text-center">
            <div class="row">
              <table id="item-attributes">
                <tr>
                  <th valign="center">
                    <h2>Status:</h2>
                  </th>
                  <td valign="center">
                    <h3><%= @item.status %></h3>
                  </td>
                </tr>
                <% if @item.owned? %>
                  <tr>
                    <th valign="center">
                      <h2>For Sale</h2>
                    </th>
                    <td valign="center">
                      <h3><%= humanized_money_with_symbol(@item.listing_price) %></h3>
                    </td>
                  </tr>
                <% elsif @item.consigned? %>
                  <tr>
                    <th valign="center">
                      <h2>Consigned at:</h2>
                    </th>
                    <td valign="center">
                      <h3><%= @item.consignment_rate %>%</h3>
                    </td>
                  </tr>
                  <tr>
                    <th valign="center">
                      <h2>Listed at:</h2>
                    </th>
                    <td valign="center">
                      <h3><%= humanized_money_with_symbol(@item.listing_price) %></h3>
                    </td>
                  </tr>
                  <tr>
                    <th valign="center">
                      <h2>Min Price:</h2>
                    </th>
                    <td valign="center">
                      <h3><%= humanized_money_with_symbol(@item.minimum_sale_price) %></h3>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>

            <div class="large-top-margin">
              <%= @item.barcode.html_safe %>
            </div>

            <div class="row large-top-margin">
              <div class="text-center">
                <% unless @item.sold? %>
                  <button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#<%= @item.id %>-mark-sold-modal">
                    Mark as Sold <i class='material-icons'>done</i>
                  </button>
                <% end %>
                <%= link_to "Print Tag <i class='fa fa-caret-right'></i>".html_safe, item_tag_path(@item, format: :pdf), class: "btn btn-raised btn-primary" %>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
