<% meta @meta_tags %>

<div class="row top-margin">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="row">

      <div class="col-md-6 col-xs-12">
        <div class="tab-content">
          <% @item.photos.each do |photo| %>
            <div class="tab-pane" id="product-page<%= photo.id %>">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <%= image_tag(photo.photo_url(client_hints: true, width: "auto", fetch_format: "auto", quality: "auto"), class: "img img-raised") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <ul class="nav flexi-nav" role="tablist" id="flexiselDemo1">
          <% @item.photos.each do |photo| %>
            <li class="nbs-flexisel-item">
              <a href="#product-page<%= photo.id %>" role="tab" data-toggle="tab" aria-expanded="false">
                <%= image_tag(photo.photo_url(:thumb, client_hints: true, width: "auto", fetch_format: "auto", quality: "auto"), class: "img img-raised") %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="row text-center" style="margin-top:30px;">
          <h2 class="title"><%= @item.description.titleize %></h2>
          <h3 class="main-price"><%= humanized_money_with_symbol(@item.listing_price) %></h3>
        </div>

        <div class="card card-pricing">
          <div class="card-content">
            <% if current_user.try(:internal?) %>
              <ul>
                <li>No. <%= @item.account_item_number %></li>
                <li>SKU <%= @item.id %></li>
                <li><%= @item.ownership_type %></li>
                <% if @item.consigned? %>
                  <li>at <%= @item.consignment_rate %>%</li>
                <% end %>
                <li>Min. Price: <%= humanized_money_with_symbol(@item.minimum_sale_price) %></li>
                <li>
                  <%= @item.status.titleize %>
                  <% if @item.sold? %>
                    for <%= humanized_money_with_symbol(@item.sale_price) %> <%= @item.sold_at.present? ? "on #{@item.sold_at.strftime('%-m/%-d/%y')}" : '' %>
                  <% end %>
                </li>
              </ul>
            <% end %>

            <div class="fb-like" data-href="<%= item_url(@item) %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            <%= render 'houzz_button', item: @item %>
            <div class="fb-comments" data-href="<%= item_url(@item) %>" data-numposts="5" data-width="100%"></div>

            <% if current_user.try(:internal?) %>
              <% if @item.child? %>
                <div class="card card-plain card-blog">
                  <h4>This item was created from this batch:</h4>
                  <a href="<%= account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item.parent_item) %>">
                    <div class="card-image">
                        <%= image_tag(@item.parent_item.featured_photo.photo_url(client_hints: true, quality: "auto", fetch_format: :auto, width: :auto, dpr: "auto", effect: :improve), class: "img img-raised") %>
                      <div class="ripple-container"></div>
                    </div>
                  </a>

                  <div class="card-content">
                    <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item.parent_item), class: "btn btn-fab btn-fab-mini btn-primary pull-right" %>
                    <h6 class="category text-info"><%= @item.parent_item.ownership_type %></h6>
                    <h4 class="card-title">
                      <%= link_to @item.parent_item.description, account_job_proposal_item_path(@item.account, @item.job, @item.proposal, @item.parent_item) %>
                    </h4>
                  </div>
                </div>
              <% end %>

              <% if @item.children.present? %>
                <div class="row large-top-margin">
                  <h4>These items were created from this batch:</h4>
                  <div class="text-center">
                    <%= link_to "Print Labels", labels_items_url(by_id: @item.children.order(:id).pluck(:id)), class: "btn btn-info btn-raised btn-round", target: "blank" %>
                  </div>
                  <% @item.children.order(:id).each do |item| %>
                    <div class="col-xs-4 large-top-margin">
                      <a href="<%= account_job_proposal_item_path(item.account, item.job, item.proposal, item) %>">
                        <div class="card-image">
                            <%= image_tag(item.featured_photo.photo_url(client_hints: true, quality: "auto", fetch_format: :auto), class: "img img-raised") %>
                          <div class="ripple-container"></div>
                        </div>
                      </a>

                      <div class="card-content">
                        <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_account_job_proposal_item_path(item.account, item.job, item.proposal, item), class: "btn btn-fab btn-fab-mini btn-primary pull-right" %>
                        <h6 class="category text-info"><%= link_to item.description, account_job_proposal_item_path(item.account, item.job, item.proposal, item) %></h6>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>

        <% unless @related_items.blank? %>
          <div class="row">
            <h3 class="title text-center">You may also be interested in:</h3>
            <% @related_items.each do |item| %>
              <div class="col-md-4 col-xs-12">
                <%= render "items/card", item: item %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
