<div class="row tags-row">
  <% @items.each do |item| %>

    <div class="col-xs-6">
      <div class="row tag-row">
        <div class="col-xs-6 text-center">
          <%= wicked_pdf_image_tag("JTRPv2_color.png", class: "tag-logo") %>
        </div>
        <div class="col-xs-6 text-center">
          <h3><%= item.description %></h3>
          <h3 class-"tag-barcode"><%= humanized_money_with_symbol(item.listing_price) %></h3>
        </div>
      </div>
      <div class="row tag-row">
        <div class="col-xs-6 text-center">
          <%= image_tag(item.barcode(true), class: "tag-logo tag-barcode") %>
          <p><%= item.id %></p>
        </div>
        <div class="col-xs-6 text-center">
          <%= wicked_pdf_image_tag(item.initial_photos.first.photo_url(:thumb), class: "img-rounded tag-thumb") %>
        </div>
      </div>
    </div>

  <% end %>
</div>
