<%= form_for agreement, data: {toggle: 'validator'} do |f| %>

  <%= render 'agreements/consignment_terms_modal', agreement: agreement %>

  <div class="form-group text-center">
    By checking the box below and accepting this agreement, you signify your acceptance of our terms. You will receive a copy of the executed agreement by email upon accepting.
    <div class="checkbox">
      <label>
        <%= f.check_box :client_agreed, {id: "client-agree", required: true} %>
        I have read and agree to the <%= agreement.agreement_type == "consign" ? link_to("consignment terms", "#", data: {toggle: "modal", target: "#consignment-terms-modal"}) : "above" %>
      </label>
    </div>
  </div>

  <%= f.hidden_field :client_agreed_at, value: DateTime.now %>

  <div class="row text-center hidden-print">
    <%= f.submit "I Accept", class: "btn btn-raised btn-primary", id: "submit-accept-agreement" %>
  </div>

  <div class="row large-top-margin no-break">
    <span class="col-sm-5">
      _______________________________________________________
      <%= agreement.account.primary_contact.full_name %>
    </span>
    <span class="col-sm-2 col-sm-offset-1">
      _____________
      Date
    </span>
  </div>

<% end %>
