<%= form_for agreement, data: {toggle: 'validator'} do |f| %>

  <%= render 'agreements/consignment_terms_modal', agreement: agreement %>

  <div class="form-group text-center">
    <div class="checkbox">
      <label>
        <%= f.check_box :client_agreed, {id: "client-agree", required: true} %>
        I have read and agree to the <%= agreement.agreement_type == "consign" ? link_to("consignment terms", "#", data: {toggle: "modal", target: "#consignment-terms-modal"}) : "above" %>
      </label>
    </div>
  </div>

  <%= f.hidden_field :client_agreed_at, value: DateTime.now %>

  <div class="row text-center">
    <%= f.submit "I Accept", class: "btn btn-raised btn-primary", id: "submit-accept-agreement" %>
  </div>

<% end %>
