<div class="row">
  <div class="col-xs-12">
    <% agreements.each do |agreement| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="well agreement-card">
          <p>
            <%= link_to "<i class='material-icons'>assignment_ind</i> #{agreement.proposal.client.full_name}".html_safe, client_path(agreement.proposal.client) %>
          </p>
          <p>
            <%= link_to "<i class='material-icons'>assignment_turned_in</i> Proposal No. #{agreement.proposal.id}".html_safe, account_job_proposal_path(agreement.account, agreement.job, agreement.proposal) %>
          </p>
          <p>
            <%= link_to "<i class='material-icons'>assignment</i> Agreement No. #{agreement.id}".html_safe, account_job_proposal_agreements_path(agreement.account, agreement.job, agreement.proposal) %>
          </p>
          <% if agreement.potential? %>
            <p class="pending"><%= link_to "pending signature", account_job_proposal_agreements_path(agreement.account, agreement.job, agreement.proposal), class: "pending" %></p>
          <% end %>

          <%= link_to "Print PDF", agreement_path(agreement, format: "pdf") %>

        </div>
      </div>
    <% end %>
  </div>
</div>
