<div class="row vertical-align">
  <div class="col-sm-6">
    <%= image_tag('JTRPv2_color.png', :height=>120, :crop=>"scale", :fetch_format=>:auto) %>
  </div>
  <div class="col-sm-6 pull-right text-right">
    <h4>Agreement No. <%= agreement.id %></h4>
  </div>
</div>

<%= render 'agreements/consignment_terms', agreement: agreement %>

<div class="page-break"></div>

<h4>Addendums:</h4>

<div class="large-top-margin">
  <%= render 'items/items_list', headers: consignment_headers, context: "consignment_agreement", items: items %>
</div>

<div class="row large-top-margin">
  <%= render 'agreements/consignment_signature_blocks', agreement: agreement %>
</div>
