<p>
  This consignment agreement (the "<b>Agreement</b>") is entered into as of <%= agreement.created_at.strftime("%B %d, %Y") %>, by and between <b><%= @company.name %>, LLC</b> (<b>"JTRP"</b>) of <b><%= @company.full_address %></b> and <b><%= @account.full_name %></b> (the <b>"Consignor"</b>) of <b><%= @account.full_address %></b>, (collectively, the <b>"Parties"</b>). This Agreement shall take effect on the date signed by Consignor, or if that date is not provided, then the date signed by JTRP.
</p>

<p>WHEREAS, JTRP is engaged in the business of selling used furniture and accessories on consignment; and</p>

<p>WHEREAS, Consignor owns items of used furniture and/or accessories and wishes to sell the Items; and</p>

<p>WHEREAS, Consignor desires that the Items be sold on consignment and JTRP desires to sell the Items on behalf of Consignor;</p>

<p>NOW, THEREFORE, in consideration of the mutual premises and covenants contained in this Agreement, the receipt and sufficiency of which is acknowledged, the Parties hereby agree as follows:</p>

<ol>
  <li>
    <b>Consignor:</b>  Consignor represents that he or she is at least 18 years old or older.
  </li>
  <li>
    <b>Consignment of Items:</b>  Items consigned in this Agreement (the "Items") shall be added or removed in one or more addendums to this Agreement (the "Addendum"). Each Item added in an Addendum shall contain a client item number, description (and if available, a photo), consignment period, consignment fee rate, starting asking price, and starting minimum price. Each Item removed in an Addendum shall contain a client item number and description (and if available, a photo).<br />
    Consignor agrees to consign the Items to JTRP in accordance with both the Addendum and this Agreement, and JTRP agrees to make reasonable efforts to sell the Items as an agent of Consignor in accordance with both the Addendum and this Agreement.
  </li>
  <li>
    <b>Ownership of Items:</b>  Consignor warrants, covenants and agrees that all the Items are exclusively owned by Consignor and that there are no liens, judgments, or other encumbrances against the ownership, including all rights of sale or transfer, of the Items. Consignor shall continue to own each Item during the consignment period until the Item is sold or transferred or the consignment of the Item is otherwise terminated in accordance with this Agreement. Consignor shall not voluntarily place any encumbrances against the ownership of any Item. If any encumbrances are placed against the ownership of any Item, Consignor shall immediately notify JTRP of such, and JTRP shall, at its option, deem it to be an early termination by Consignor of the Agreement for that Item.
  </li>
  <li>
    <b>Possession and Delivery of Items:</b>  Unless otherwise agreed by both Parties, all Items shall be placed in the possession of JTRP during the consignment period. Consignor shall either deliver the Items to JTRP at Consignor’s expense or hire JTRP to perform this service for a fee.
  </li>
  <li>
    <b>Exclusive Right to Sell:</b>  JTRP shall have the exclusive right to advertise, market, negotiate the selling price of, and sell each Item during the consignment period, and the exclusive right to determine how it does so for each item, subject to the terms and conditions of this Agreement. The proceeds from the sale of each Item shall be paid directly to JTRP. Consignor shall not advertise, market, negotiate the selling price of, sell, or otherwise transfer ownership of any Item during the consignment period, nor attempt to do so.
  </li>
  <li>
    <b>Consignment Fee:</b>  Upon the sale of an Item, Consignor shall incur a consignment fee due to JTRP for its services in the amount of the sale price of the item multiplied by the consignment fee rate listed for that item in the Addendum. JTRP shall deduct the consignment fee from the sale proceeds due to Consignor.
  </li>
  <li>
    <b>Consignment Period:</b>  The consignment period for each Item shall commence on the effective date of the Addendum in which the Item is added and shall continue for the number of days stated for that Item in the Addendum (typically 90 days), until it is sold, or until early termination by Consignor or JTRP in accordance with this Agreement, whichever occurs first.
  </li>
  <li>
    <b>Item Price:</b>  Each Item shall have an "<b>asking price</b>" and a "<b>minimum price</b>". An Item’s asking price represents the price at which JTRP shall advertise the Item to customers, and an Item’s minimum price represents the minimum price that JTRP shall accept from a customer for that Item. Each Item in the Addendum shall have a stated "<b>starting asking price</b>" and a stated "<b>starting minimum price</b>".<br />
    <b>JTRP shall have the right to negotiate with a potential buyer, and shall have the right to sell an Item for any price at or above the minimum price without prior authorization from Consignor. JTRP shall also have the right to advertise an Item as "on sale" for any price at or above the minimum price without prior authorization from Consignor. Consignor shall not hold JTRP liable for any undervaluation or perceived undervaluation of any Item, or for the advertising, offer to sell, contract to sell, or actual sale of any Item at an undervalued or perceived undervalued value or price which is greater than or equal to its minimum price in accordance with this Agreement.</b><br />
    At the beginning of the consignment period, JTRP shall, for each Item, set its asking price to its starting asking price and its minimum price to its starting minimum price. An Item’s minimum price shall remain the same as its starting minimum price for the first 90 days of consignment for that item. However, after an Item has been on consignment for <b>30 days</b>, JTRP shall drop its asking price to <b>90%</b> of its starting asking price, and after an Item has been on consignment for <b>60 days</b>, JTRP shall drop its asking price to <b>80%</b> of its starting asking price.<br />
    Occasionally, some Items may have a consignment period which is longer than 90 days. After an Item has been on consignment for <b>90 days</b>, JTRP shall drop its asking price to <b>70%</b> of its starting asking price and drop the minimum price to <b>70%</b> of its starting minimum price. After an Item has been on consignment for <b>120 days</b>, JTRP shall drop its asking price to <b>60%</b> of its starting asking price and drop the minimum price to <b>60%</b> of its starting minimum price. After an Item has been on consignment for <b>150 days</b>, JTRP shall drop its asking price to <b>50%</b> of its starting asking price and drop the minimum price to <b>50%</b> of its starting minimum price.<br />
    JTRP shall have the right to sell an Item below its minimum price, but if it does so, the net sale proceeds due to Consignor shall be equal to the amount that Consignor would have received if the Item was sold at its minimum price at that time.
  </li>
  <li>
    <b>Payments to Consignor:</b>  The net sale proceeds due to Consignor of Items sold shall consist of the actual sale proceeds received by JTRP for each sold Item minus the consignment fee and any other amounts due to JTRP for those Items. JTRP shall mail a check to Consignor for the net sale proceeds due to Consignor from all Items sold during the month <b>on or before the 10th day of the following month</b>, along with a description, sale price, and consignment fee for each Item sold.
  </li>
  <li>
    <b>Early Termination by Consignor:</b>  Consignor shall have the right to terminate consignment of any or all Items at any time before the final day of the consignment period subject to an <b>early termination fee of 25%</b> of the current minimum price of each terminated Item. Early termination by Consignor shall not take effect until JTRP has received notice of the termination request from Consignor in accordance with the Notices provision, and JTRP has received full payment of the early termination fee and any other amounts due from Consignor. If Consignor requests early termination without proper notice, and JTRP has not received full payment of the early termination fee and any other amounts due from Consignor, JTRP shall have the option to either continue consignment of the requested terminated Items or discontinue any attempts to sell or show the Items.
  </li>
  <li>
    <b>Early Termination by JTRP:</b>  <b>JTRP shall have the right to terminate consignment of any or all Items at any time before the final day of the consignment period for any reason and at no additional cost to JTRP.</b> Early termination by JTRP shall take effect at the time JTRP notifies Consignor of the early termination  in accordance with the Notices provision.<
  </li>
  <li>
    <b>Retrieval of Items After Termination of Consignment:</b>  Consignment of Items shall terminate on the last day of the consignment period for any remaining unsold Items, or on the effective date of early termination by Consignor or JTRP. On or about the date of termination, JTRP shall notify Consignor of the effective date of termination, the length of time Consignor has to retrieve the Items, and that ownership of the Items shall automatically transfer to JTRP if Consignor fails to retrieve the Items within that time. After termination of consignment and said notification from JTRP, <b>Consignor shall have 10 days during which time Consignor must retrieve the Items from JTRP</b>. JTRP shall have no obligation to deliver the Items to Consignor (but may agree to do so for a delivery fee). <b>If Consignor does not retrieve or schedule delivery by JTRP of the Items within this 10-day period, ownership of the Items shall automatically and unconditionally transfer to JTRP.</b>
  </li>
  <li>
    <b>Refurbishing and Restoring of Items:</b>  JTRP shall have the right, at its sole discretion, to refurbish or restore an Item to prepare the Item for sale, and shall have the right to deduct the cost of doing so from the net sale proceeds due to Consignor if the Item is sold. However, the cost shall not exceed an amount that would cause the net sale proceeds due to Consignor to drop below what Consignor would have received if the Item was sold at its minimum price at that time.<br />
    If JTRP refurbishes or restores an Item without authorization from Consignor to do so for a fee, and consignment of that Item is terminated without the Item being sold, JTRP shall not have the right to charge Consignor for the cost of doing so. However, if Consignor does not reimburse JTRP for the cost, where the cost is greater than or equal to $10.00, JTRP shall have the right to purchase the Item from Consignor for an amount equal to what the net sale proceeds due to Consignor would have been if the Item was sold on consignment at its minimum price at the time of termination.
  </li>
  <li>
    <b>Risk of Loss:</b>  If an Item is damaged, destroyed, or lost due to fire, water, theft, damage caused during moving, or any other cause, <b>JTRP shall bear the risk of loss only if JTRP was in possession of the Item at the time of loss. If an Item loss occurs while the Item is in JTRP’s possession, JTRP shall be liable to Consignor for the loss in value of the Item, up to a maximum of the net sale proceeds that would be due to Consignor if the Item were sold on consignment at its minimum price at the time.</b> JTRP shall have the right to repair, at its own expense, the damage to any Items caused while in its possession. JTRP shall be deemed to be in possession after the Item has been delivered to JTRP, or, if JTRP has been contracted to pick up and deliver the item to its location, when JTRP begins to remove the Item from Consignor’s location. If JTRP, subject to the consent of Consignor, transfers an Item to another dealer or seller (such as a dealer or seller who specializes in that particular type of item), JTRP shall no longer be deemed to be in possession of the Item once the other dealer or seller takes possession of it.
  </li>
  <li>
    <b>Notices and Correspondence:</b>  Any notice by Consignor per this agreement shall be given by a signed written correspondence to the following address, by email to the following email address, or by use of a notice option in Consignor’s portal on JTRP’s website (if available).

    <p class="indent">JTRP Address:</p>

    <div class="address">
      <p class="indent-address"><%= @company.name %>, LLC</p>
      <p class="indent-address"><%= @company.address_1 %></p>
      <% if @company.address_2.present? %>
        <p class="indent-address"><%= @company.address_2 %></p>
      <% end %>
      <p class="indent-address"><%= @company.city %>, <%= @company.state %> <%= @company.zip %></p>
    </div>

    <p class="indent">JTRP email: <b><%= @company.email %></b></p>

    <p>
      Any notice by JTRP per this agreement shall be given by a signed written correspondence to the following address, or by email to the following email address.
    </p>

    <p class="indent">Consignor Address:</p>

    <div class="address">
      <p class="indent-address"><%= @client.full_name %>, LLC</p>
      <p class="indent-address"><%= @client.address_1 %></p>
      <% if @client.address_2.present? %>
      <p class="indent-address"><%= @client.address_2 %></p>
      <% end %>
      <p class="indent-address"><%= @client.city %>, <%= @client.state %> <%= @client.zip %></p>
    </div>

    <p class="indent">Consignee email: <b><%= @client.email %></b></p>

    <p class="indent">Unofficial correspondence may be made by phone or text to:</p>

    <p class="indent">JTRP phone: <b><%= number_to_phone(@company.phone) %></b></p>

    <p class="indent">Consignor phone: <b><%= number_to_phone(@account.phone) %></b>  (<%= @account.full_name %>)</p>
  </li>

  <li>
    <b>Default:</b>  A breach or default by Consignor of any covenant, term, or provision of this Agreement or any Addendum to this Agreement shall be deemed a default of this Agreement. In the event of default be Consignor, JTRP shall have the sole right to immediately terminate this Agreement in whole or in part.
  </li>

  <li>
    <b>Miscellaneous:</b>
    <ol>
      <li>
        <b>Entire Agreement:</b>  This Agreement and any Addendum which refer to this Agreement represent the entire consignment agreement between the Parties, and shall supersede all prior agreements, understandings, and representations by either Party regarding consignment.
      </li>
      <li>
        <b>No Implied Waiver:</b>  The waiver of any breach of any obligation, term or condition of this Agreement shall not be deemed to constitute a waiver of any preceding or succeeding breach of the same or any other obligation, term, or condition of this Agreement.
      </li>
      <li>
        <b>Severability:</b>  The invalidity or unenforceability of any provision of this Agreement shall not affect the validity or enforceability of any other provision of this Agreement.
      </li>
      <li>
        <b>Counterparts and Electronic Signatures:</b>  If this Agreement is executed in separate parts, the separate parts shall together constitute an enforceable contract. Electronic or digital signatures shall constitute valid enforceable signatures.
      </li>
      <li>
        <b>Headings:</b>  The headings contained in this Agreement are for convenience purposes only and shall not affect, in any way, the meaning or interpretation of this Agreement.
      </li>
      <li>
        <b>Governing Law:</b>  This Agreement shall be governed by and construed in accordance with the laws of the State of New Hampshire.
      </li>
    </ol>
  </li>

</ol>
