<div class="text-right">
  <% if agreement.is_addendum? %>
    <h4>Agreement No. <%= agreement.agreement_id %></h4>
    <h4>Addendum No. <%= agreement.id %></h4>
  <% else %>
    <h4>Agreement No. <%= agreement.id %></h4>
  <% end %>
</div>

<h1 class="text-center company-title"><%= @company.name %></h1>

<% if agreement.is_addendum? %>
  <%= render 'consignment_addendum_terms', agreement: agreement %>
<% else %>
  <%= render 'consignment_terms', agreement: agreement %>
<% end %>

<div class="large-top-margin">
  <% items.each do |item| %>
    <%= render 'proposals/item_row', item: item %>
  <% end %>
</div>

<div class="large-top-margin">
  <%= render 'consignment_signature_blocks', agreement: agreement %>
</div>
