<%= render 'proposals/header', form_name: "Disposal Agreement" %>

<div class="row vertical-align large-top-margin">
  <% items.each do |item| %>
    <div class="col-xs-6 col-md-3">
      <% if item.initial_photos.present? %>
        <%= image_tag(item.initial_photos.first.photo_url(:thumb)) %>
      <% else %>
        <%= image_tag("thumb_No_Image_Available.png") %>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
      Item #<%= item.id %>: <%= item.name %> - <i><%= item.description %></i>
    </div>
  <% end %>
</div>

<div class="row large-top-margin">
  Client, being the rightful owner of the above-mentioned items, disposes of them, and gives permission to Just the Right Piece, LLC, at its option, to claim any or all of the items as its own.
</div>

<div class="row large-top-margin">
  <div class="col-xs-12 col-md-6">
    <p>Consignor:</p>
    <%= render "signature_pad", user: @client, role: "client", agreement: agreement %>
    <p class="agreement-name-printed"><%= @client.full_name %></p>
  </div>
</div>
