<div class="btn-group dropup hamburger-fab hidden-print">
  <button type="button" class="btn btn-raised btn-primary btn-fab dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class='material-icons'>menu</i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right fab-menu">

    <li>
      <%= link_to "<i class='material-icons'>edit</i> Edit".html_safe, edit_agreement_path(agreement) %>
    </li>
    <li>
      <%= link_to "<i class='material-icons'>delete_forever</i> Delete".html_safe, agreement_path(agreement), method: :delete, data: {confirm: "Are you sure?", :'confirm-button-text' => "Yes, I'm sure", :'cancel-button-text' => "No, cancel!", :'sweet-alert-type' => 'warning', :'confirm-button-color' => '#f44336', text: "This will delete the agreement. This is irreversable."} %>
    </li>

    <li role="separator" class="divider"></li>

    <li>
      <%= link_to "<i class='material-icons'>email</i> Send Agreement".html_safe, "", data: { toggle: "modal", target: "#agreement-note-modal" } %>
    </li>

    <% if agreement.active? && agreement.items.any? { |i| i.potential? } %>
      <li>
        <%= link_to "<i class='material-icons'>store</i> Mark Items Active".html_safe, agreement_activate_items_path(agreement), method: :post %>
      </li>
    <% end %>

    <% if agreement.active? %>
      <% if agreement.items.any? { |i| i.meets_requirements_expired? } %>
        <li>
          <%= link_to "<i class='material-icons'>store</i> Mark Items Expired".html_safe, "", data: {
            toggle: "modal",
            target: "#agreement-todo-task-modal",
            agreement_id: agreement.id,
            account_id: agreement.account.id,
            agreement_link: "#{link_to('Agreement No. ' + agreement.id.to_s, agreement_path(agreement)).html_safe}",
            day_count: (DateTime.now.to_date - (agreement.items.where.not(listed_at: nil).order(:listed_at).first.listed_at.to_date)).to_i,
            unexpireable_button: "#{button_to('Unexpireable', agreement_tag_path(agreement, tag: 'unexpireable'), remote: true, class: 'btn btn-raised btn-secondary').html_safe}"
          } %>
        </li>
      <% end %>
      <li>
        <li><%= link_to "<i class='material-icons'>money_off</i> Deactivate".html_safe, agreement_deactivate_path(agreement), method: :put, data: {confirm: "Are you sure?", :'confirm-button-text' => "Yes, I'm sure", :'cancel-button-text' => "No, cancel!", :'sweet-alert-type' => 'warning', :'confirm-button-color' => '#f44336', text: "This will deactivate the agreement."} %></li>
      </li>
    <% end %>

    <li>
      <%= link_to "<i class='material-icons'>label</i> Print Labels".html_safe, labels_items_url(by_id: items.map(&:id)), target: "blank" %>
    </li>

    <li>
      <% if agreement.pdf.present? %>
        <%= link_to "<i class='material-icons'>print</i> Print".html_safe, agreement.pdf_url, target: "blank" %>
      <% else %>
        <%= link_to "<i class='material-icons'>print</i> Print".html_safe, "", onclick: "window.print();" %>
      <% end %>
    </li>

  </ul>
</div>
