<div class="hidden-print large-top-margin text-center">

  <h3>Upload a scanned copy:</h3>
  <% scanned_agreement = agreement.scanned_agreement || agreement.build_scanned_agreement %>

  <div class="row form-row">
    <%= form_for agreement, class: "form-horizontal" do |f| %>
      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
        <span class="btn-file" style="display: inline-block;">
          <div class="thumbnail img-raised">
            <%= image_tag("image_placeholder.jpg") %>
          </div>
          <%= f.cl_image_upload(:pdf, return_delete_token: true) %>
        </span>

        <div class="progressbar fileupload-progressbar">
          <div style="width:0%;"></div>
        </div>
        <span class="status"></span>

        <div class="preview"></div>

      </div>
      <%= f.hidden_field :pdf_pages %>
      <%= f.hidden_field :client_agreed, value: true %>
      <div class="row text-center top-margin">
        <%= f.submit "Save PDF", class: "btn btn-raised btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
