<%= render 'proposals/header', form_name: "Purchase Invoice", agreement: agreement %>

<div class="row vertical-align large-top-margin">
  <div class="col-sm-12">
    <%= render 'items/items_list', headers: purchase_invoice_headers, context: "purchase_invoice", items: items %>
  </div>
</div>

<div class="row large-top-margin no-break">
  <span class="col-sm-6">
    Vendor, being the rightful owner of the above-mentioned items, hereby sells them to Just the Right Piece, LLC for the stated consideration, and hereby acknowledges the receipt and sufficiency of the consideration as stated herein.
  </span>
  <span class="col-sm-6">
    <table class="pull-right">
      <tr>
        <th class="text-right">Subotal:</th>
        <td class="text-right panel-item-row" id="purchase-order-subtotal"><%= humanized_money_with_symbol(items.sum(:purchase_price_cents) / 100).html_safe %></td>
      </tr>

      <tr>
        <th class="text-right">Service Charge:</th>
        <td class="text-right panel-item-row" id="purchase-order-service-charge"><%= best_in_place agreement, :service_charge, display_with: lambda { |v| humanized_money_with_symbol(v) }, class: "purchase-order-service-charge", data: {subtotal: (items.sum(:purchase_price_cents) / 100)} %></td>
      </tr>

      <tr>
        <th class="text-right">Total:</th>
        <td class="text-right panel-item-row" id="purchase-order-total"><%= humanized_money_with_symbol((items.sum(:purchase_price_cents) - agreement.service_charge_cents) / 100) %></td>
      </tr>

      <tr>
        <th class="text-right">Paid, ck. #<%= best_in_place agreement, :check_number, place_holder: "_____" %>:</th>
        <td class="text-right panel-item-row" id="paid-amount-total"><%= humanized_money_with_symbol(((items.sum(:purchase_price_cents) / 100) - agreement.service_charge_cents / 100) * -1).html_safe %></td>
      </tr>
      <tr>
        <th class="text-right">Balance due to client:</th>
        <td class="text-right panel-item-row" id="amount-due"><%= humanized_money_with_symbol(0).html_safe %></td>
      </tr>
    </table>
  </span>
</div>
