<%= render 'proposals/header', form_name: "Purchase Invoice" %>

<div class="row vertical-align large-top-margin">
  <% items.each do |item| %>
    <div class="col-xs-4">
      <% if item.initial_photos.present? %>
        <%= image_tag(item.initial_photos.first.photo_url(:thumb)) %>
      <% else %>
        <%= image_tag("thumb_No_Image_Available.png") %>
      <% end %>
    </div>
    <div class="col-xs-4">
      Item #<%= item.id %>: <%= item.description %>
    </div>
    <div class="col-xs-4">
      <%= humanized_money_with_symbol(item.purchase_price).html_safe %>
    </div>
  <% end %>
</div>

<div class="row large-top-margin">
  <div class="col-xs-6">
    Vendor, being the rightful owner of the above-mentioned items, hereby sells them to Just the Right Piece, LLC for the stated consideration, and hereby acknowledges the receipt and sufficiency of the consideration as stated herein.
  </div>
  <div class="col-xs-6">
    <table>
      <tr>
        <th>Total:</th>
        <td class="panel-item-row"><%= humanized_money_with_symbol(items.sum(:purchase_price_cents) / 100).html_safe %></td>
      </tr>
      <tr>
        <th>Paid, ck. #<%= "number" %>:</th>
        <td class="panel-item-row"><%= humanized_money_with_symbol(items.sum(:purchase_price_cents) / 100 * -1).html_safe %></td>
      </tr>
      <tr>
        <th>Balance due:</th>
        <td class="panel-item-row"><%= humanized_money_with_symbol(0).html_safe %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row large-top-margin">
  <div class="col-xs-12 col-md-6">
    <p>Vendor:</p>
    <%= render "signature_pad", user: @client, role: "client", agreement: agreement %>
    <p class="agreement-name-printed"><%= @client.full_name %></p>
  </div>
</div>
