<%= form_for [@proposal, agreement], html: { class: "sigPad", id: "#{agreement.agreement_type}-#{role}-signed" }, remote: true do |f| %>

  <div class="sig sigWrapper <%= agreement.agreement_type %>-<%= role %>-signed">
    <canvas class="pad" width="277" height="55"></canvas>
    <%= f.hidden_field :"#{role}_signature", name: "signature", class: "output" %>
    <%= hidden_field_tag :role, role %>
  </div>

  <% unless agreement.send("#{role}_signature") %>
    <div class="text-center hidden-print">
      <%= f.submit "I accept the terms of this agreement", class: "btn btn-primary btn-raised btn-responsive", id: "#{agreement.agreement_type}-#{role}-submit" %>
    </div>
  <% end %>

<% end %>
