<%= form_for [@proposal, agreement], html: { class: "form-horizontal", id: "#{agreement.agreement_type}-#{role}-signed" }, remote: true do |f| %>

  <div class="row vertical-align">
    <div class="col-xs-2 col-xs-offset-2">
      <div class="form-group">
        <div class="checkbox">
          <%= hidden_field_tag :role, role %>
          <%= f.label :"#{role}_signature", name: "signature", for: "agreement_#{agreement.id}_#{role}_signature" do %>
            <%= f.check_box :"#{role}_signature", id: "agreement_#{agreement.id}_#{role}_signature" %> Agree
          <% end %>
        </div>
        <p class="help-block">I accept the terms of this agreement</p>
      </div>
    </div>

    <% unless agreement.send("#{role}_signature") %>
      <div class="col-xs-4">
        <div class="text-center large-top-margin hidden-print">
          <%= f.submit class: "btn btn-primary btn-raised btn-responsive", id: "#{agreement.agreement_type}-#{role}-submit" %>
        </div>
      </div>
    <% end %>

  </div>




<% end %>
