<div class="modal fade" tabindex="-1" role="dialog" id="agreement-todo-task-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row vertical-align">
            <i class='material-icons' style='font-size: 5em;'>access_time</i>
          <span>
            <h4 class="modal-title agreement-link">
            </h4>
          </span>
        </div>
      </div>
      <div class="modal-body">
        <%= form_tag '', method: :post, remote: true do %>

          <div class="row vertical-align">
            <div class="col-xs-5">
              <span class="agreement-link"></span> has items that have been active for <span class="day-count"></span> days.
            </div>

            <div class="col-xs-7">
              <div class="radio radio-primary">
                <label id="expiration-pending">
                  <%= label_tag :category, "Expiration Pending" %>
                  <%= radio_button_tag :'letter[category]', "agreement_pending_expiration" %>
                </label>
              </div>

              <div class="radio radio-primary">
                <label id="expired">
                  <%= label_tag :category, "Expire Agreement" %>
                  <%= radio_button_tag :'letter[category]', "agreement_expired" %>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <div class="form-group label-floating">
                <%= label_tag :note, "Add a note?", class: "control-label" %>
                <%= text_area_tag :note, '', class: "form-control", name: "letter[note]" %>
              </div>
            </div>

            <div class="text-center">
              <%= submit_tag "Notify Client", class: "btn btn-raised btn-primary" %>
            </div>
          </div>

        <% end %>

        <div class="row text-center">
          <div class="expire-button"></div>
        </div>

        <div class="row">
          <div class="pull-left items-retrieved-button"></div>
          <div class="pull-right unexpireable-button"></div>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
