<div class="modal fade" tabindex="-1" role="dialog" id="agreement-<%= agreement.id %>-task-modal">
  <div class="modal-dialog">
    <%= form_for agreement, remote: true do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <%= link_to "<i class='material-icons' style='font-size: 5em;'>access_time</i> #{agreement.account.full_name} - Agreement No. #{agreement.id}".html_safe, agreement_path(agreement) %>
          </h4>
        </div>
        <div class="modal-body">

          <div class="row vertical-align">

            <div class="col-xs-5">
              <%= link_to "Agreement No. #{agreement.id}", agreement_path(agreement) %> has items that have been been active for <%= (DateTime.now.to_date - (agreement.items.where.not(listed_at: nil).order(:listed_at).first.listed_at.to_date)).to_i %> days.
            </div>

            <div class="col-xs-6 col-xs-offset-1">
              <% if agreement.meets_requirements_expired? %>
                <%= link_to "Expire Agreement", agreement_expire_items_path(agreement), method: "POST", remote: true, class: "btn btn-raised btn-primary" %>
              <% else %>
                <%= link_to "Notify Client", agreement_notify_pending_expiration_path(agreement), method: "POST", remote: true, class: "btn btn-raised btn-primary" %>
              <% end %>
            </div>
          </div>

        </div>

      </div><!-- /.modal-content -->
    <% end %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
