<div class="container-fluid">

  <div class="col-xs-12 col-lg-8 col-lg-offset-2">

    <%= render 'agreement_note_modal' %>

    <!-- Tabs -->
    <ul class="nav nav-pills nav-justified hidden-print large-top-margin large-bottom-margin" role="tablist">
      <% @agreements.each do |agreement| %>
      <li role="presentation"><a href="#<%= agreement.agreement_type %>" aria-controls="<%= agreement.agreement_type %>" role="tab" data-toggle="tab" class="agreement-tab"><%= agreement.humanized_agreement_type %></a></li>
      <% end %>
    </ul>

    <%= link_to "<i class='fa fa-caret-left'></i> Back to Proposal".html_safe, account_job_proposal_path(@account, @job, @proposal), class: "btn btn-raised btn-primary hidden-print" %>

    <!-- Tab panes -->
    <div class="well bs-component">
      <div class="tab-content">
        <% @agreements.each do |agreement| %>
          <div role="tabpanel" class="tab-pane fade" id="<%= agreement.agreement_type %>">

            <% if agreement.pdf.present? && !agreement.pdf_pages.nil? && !params[:print] %>

              <div class="text-center">
                <% (1..agreement.pdf_pages).to_a.each do |page| %>
                  <%= image_tag(agreement.pdf_url(client_hints: true, page: page, fetch_format: :auto)) %><br /><br />
                <% end %>
              </div>

            <% else %>

              <%= render "agreements/#{agreement.agreement_type}", items: agreement.items, agreement: agreement, proposal: @proposal, job: @job, account: @account, client: @client %>

              <% if current_user.try(:internal?) %>
                <%= render 'scanned_upload_form', agreement: agreement %>
              <% end %>

            <% end %>

            <% unless params[:print] %>
              <%= render 'agreements/terms_form', agreement: agreement, account: @account %>
            <% end %>

            <% if agreement.meets_requirements_expired? %>
              <%= render 'agreements/to_do_task', agreement: agreement, task_field: agreement.task[:task_field] %>
            <% end %>

            <%= render 'agreements/fab_menu', agreement: agreement, items: agreement.items %>

          </div>
        <% end %>
      </div>
    </div>

  </div>
  
</div>
