<% if current_user.try(:internal?) %>
  <% breadcrumb :agreement, @agreement %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="well bs-component">

      <%= render 'agreement_note_modal' %>

      <% if current_user.try(:internal?) %>
        <% if @agreement.active? && @agreement.items.any? { |i| i.potential? } %>
          <div class="hidden-print">
            <%= link_to "Mark Items Active <i class='material-icons'>store</i>".html_safe, agreement_activate_items_path(@agreement), class: "btn btn-raised btn-primary pull-right", method: :post %>
          </div>
        <% end %>

        <% if @agreement.active? && @agreement.items.any? { |i| i.meets_requirements_expired? } %>
          <div class="hidden-print">
            <%= render 'agreements/to_do_task', agreement: @agreement, task_field: @agreement.task[:task_field] %>
            <button type="button" class="btn btn-raised btn-warning pull-right" data-toggle="modal" data-target="#agreement-<%= @agreement.id %>-task-modal">
              Mark Items Expired <i class='material-icons'>store</i>
            </button>
          </div>
        <% end %>
      <% end %>

      <% if @agreement.scanned_agreement.present? %>
        <button type="button" class="btn btn-raised btn-primary pull-right hidden-print" data-toggle="modal" data-target="#agreement-note-modal">
          Send Agreement <i class='material-icons'>email</i>
        </button>
        <iframe src="<%= @agreement.scanned_agreement.scan_url %>" width="100%" style="border: none;" class="full-height"></iframe>
      <% else %>
        <%= render "agreements/#{@agreement.agreement_type}", items: @items, agreement: @agreement, proposal: @proposal, job: @job, account: @account, client: @client %>
      <% end %>

      <% unless params[:print] %>
        <%= render 'agreements/terms_form', agreement: @agreement, account: @account %>
      <% end %>

      <% if current_user.try(:internal?) && @agreement.scanned_agreement.nil? %>
        <%= render 'scanned_upload_form', agreement: @agreement %>
      <% end %>

    </div>
  </div>
</div>
