<div class="row top-margin">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <%= render 'agreement_note_modal', agreement: @agreement %>

    <% if @agreement.pdf.present? && !@agreement.pdf_pages.nil? && !params[:print] %>
      <div class="text-center">
        <% (1..@agreement.pdf_pages).to_a.each do |page| %>
          <%= image_tag(@agreement.pdf_url(client_hints: true, page: page, fetch_format: :auto, width: "auto")) %><br /><br />
        <% end %>
      </div>
    <% else %>
      <%= render "agreements/#{@agreement.agreement_type}", items: @items, agreement: @agreement, proposal: @proposal, job: @job, account: @account, client: @client %>
      <%= render 'agreements/terms_form', agreement: @agreement, account: @account %>
    <% end %>

  </div>

  <% if @agreement.meets_requirements_expired? %>
    <%= render 'agreements/to_do_task', agreement: @agreement, task_field: @agreement.task[:task_field] %>
  <% end %>

</div>

<% content_for :fab do %>
  <%= render 'agreements/fab_menu', agreement: @agreement, items: @items %>
<% end %>
