<div class="related-products">

  <h3 class="title text-center">Shop by category:</h3>

  <div class="row large-top-margin grid">
    <div class="grid-sizer col-sm-6 col-md-3"></div>

    <% @categories.primary.each do |category| %>
      <div class="grid-item">
        <a href="<%= category_path(category) %>">
          <div class="card card-product">
            <div class="card-image">
              <%= image_tag(category.photo_url(client_hints: true, quality: "auto", fetch_format: :auto, dpr: "auto", effect: :improve, width: "350", height: "270", crop: "fill")) %>
            </div>

            <div class="content">
              <h4 class="card-title">
                <%= category.name %>
              </h4>
              <% if current_user.try(:internal?) %>
                <div class="footer">
                  <div class="price">
                    <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_category_path(category), class: "btn btn-fab btn-fab-mini btn-primary pull-left" %>
                  </div>
                  <div class="pull-right">
                    <%= link_to "<i class='material-icons'>delete_forever</i>".html_safe, category_path(category), method: :delete, class: "btn btn-fab btn-fab-mini btn-danger pull-right", data: {confirm: "Are you sure?", :'confirm-button-text' => "Yes, I'm sure", :'cancel-button-text' => "No, cancel!", :'sweet-alert-type' => 'warning', :'confirm-button-color' => '#f44336', text: "This will delete the category. This is irreversable. Items will not be deleted, but will be removed from this category."} %>
                  </div>
                </div>
              <% end %>

            </div>

          </div>
        </a>
      </div>
    <% end %>

  </div>

  <% if current_user.try(:internal?) %>
    <div class="row bottom-margin">
      <%= link_to "<i class='material-icons'>add</i>".html_safe, new_category_path, class: "btn btn-fab btn-primary pull-right" %>
    </div>
  <% end %>
</div>
