<%= form_for @category, class: "form-horizontal" do |f| %>

  <legend><%= legend %></legend>

  <% if @category.errors.present? %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="error_messages notice alert alert-danger text-center">
          <% @category.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if params[:parent_id].present? %>
    <%= f.hidden_field :parent_id, value: params[:parent_id] %>
  <% end %>

  <div class="row form-row">

    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
      <div class="form-group label-floating">
        <%= f.label :name, class: "control-label required" %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
      <div class="fileinput fileinput-new text-center" data-provides="fileinput">

        <div class="preview thumbnail img-raised"></div>
        <span class="btn-file" style="display: inline-block;">
          <div class="thumbnail img-raised">
            <%= image_tag(@category.featured_photo_url) %>
          </div>
          <%= f.cl_image_upload(:photo, return_delete_token: true) %>
        </span>
        <div class="progressbar fileupload-progressbar">
          <div style="width:0%;"></div>
        </div>
        <span class="status"></span>
      </div>
    </div>
  </div>

  <div class="row form-row">
    <div class="actions">
      <div class="col-xs-12 text-center">
        <%= link_to "Cancel", categories_path, class: "btn btn-raised btn-default" %>
        <%= f.submit class: "btn btn-raised btn-primary"%>
      </div>
    </div>
  </div>

<% end %>
