<%= form_for @category, class: "form-horizontal" do |f| %>

  <legend><%= legend %></legend>

  <% if @category.errors.present? %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="error_messages notice alert alert-danger text-center">
          <% @category.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if params[:parent_id].present? %>
    <%= f.hidden_field :parent_id, value: params[:parent_id] %>
  <% end %>

  <div class="row form-row">

    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
      <div class="form-group label-floating">
        <%= f.label :name, class: "control-label required" %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">

      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
        <div class="fileinput-new thumbnail img-raised">
          <%= image_tag(@category.photo.url) %>
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
        <div>
          <span class="btn btn-raised btn-round btn-default btn-file">
            <span class="fileinput-new">Select image</span>
            <span class="fileinput-exists">Change</span>

            <%= f.file_field :photo %>
            <%= f.hidden_field :photo_cache %>
          </span>
          <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
        </div>

      </div>

    </div>
  </div>

  <div class="row form-row">
    <div class="actions">
      <div class="col-xs-12 text-center">
        <%= link_to "Cancel", categories_path, class: "btn btn-raised btn-default" %>
        <%= f.submit class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
