<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Categories</h1>
    <% if current_user && current_user.try(:internal?) %>
      <%= link_to "Add a category", new_category_path, class: "btn btn-raised btn-primary pull-right" %>
    <% end %>
    <h4><%= @company.slogan %></h4>
  </div>
</div>

<div class="row grid">
  <div class="grid-sizer col-xs-12 col-md-3"></div>

  <% @categories.each do |category| %>
    <div class="grid-item col-xs-12 col-md-6">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
          <% if category.subcategories.empty? %>
            <h1><%= link_to "<i class='material-icons md-48'>weekend</i>".html_safe, category_path(category) %></h1>
          <% else %>
            <div class="row client-grid">
              <% category.subcategories.each do |subcategory| %>
                <div class="col-xs-4 client-grid-sizer"></div>
                <div class="col-xs-4 client-grid-item">
                  <div class="panel panel-primary text-center">
                    <div class="panel-body">
                      <h4><%= link_to "<i class='material-icons md-48'>weekend</i>".html_safe, category_path(subcategory) %></h4>
                    </div>
                    <div class="panel-heading secondary-primary">
                      <h5><%= link_to subcategory.name, category_path(subcategory) %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="panel-heading complement-primary">
          <h3><%= link_to category.name, category_path(category) %></h3>
        </div>
      </div>
    </div>
  <% end %>

</div>
