<h1 class="text-center company-title"><%= @category.name %></h1>

<div class="row text-center">
  <% if current_user && current_user.internal? %>
  <%= link_to "Add an item", new_category_item_path(@category), class: "btn btn-raised btn-primary" %>
  <%= link_to "Add a subcategory", new_category_path(parent_id: @category.id), class: "btn btn-raised btn-primary" %>
  <% end %>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1">

  <% if @category.subcategories.present? %>
    <div class="text-center well bs-component">
      <h3>Subcategories</h3>
      <div class="row grid">
        <% @category.subcategories.each do |subcategory| %>
          <div class="col-xs-6 col-sm-4 grid-sizer"></div>
          <div class="col-xs-6 col-sm-4 grid-item">
            <%= render 'category_list_item', category: subcategory %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="well bs-component">
    <div class="row grid">
      <% @category.items.each do |item| %>
        <div class="col-md-3 grid-sizer"></div>
        <div class="col-md-3 grid-item">
          <div class="panel panel-primary text-center">
            <div class="panel-heading">
              <%= link_to item.description, item_path(item), class: "panel-title" %>
            </div>
            <div class="panel-body">
              <% if item.listing_photos.present? %>
                <%= link_to(image_tag(item.listing_photos.first.photo_url(:thumb), class: "img-rounded"), item_path(item)) %>
              <% elsif item.initial_photos.present? %>
                <%= link_to(image_tag(item.initial_photos.first.photo_url(:thumb), class: "img-rounded"), item_path(item)) %>
              <% else %>
                <%= link_to(image_tag(Photo.default_url, class: "img-rounded"), item_path(item)) %>
              <% end %>
              <p>Listed for: $<%= item.try(:listing_price) %></p>
              <p>Minimum sale price: $<%= item.try(:minimum_sale_price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


</div>
