<h1 class="text-center"><%= @category.name %></h1>
</br>

<% if current_user && current_user.internal? %>
  <%= link_to "Add an item", new_category_item_path(@category) %>
<% end %>


<div class="col-md-10 col-md-offset-1">
  <% @category.items.each do |item| %>
    <div class="col-md-3">
      <div class="well bs-component text-center">
        <% if item.listing_photos.present? %>
          <%= image_tag item.listing_photos.first.thumb.url, class: "img-rounded" %>
        <% elsif item.initial_photos.present? %>
          <%= image_tag item.initial_photos.first.thumb.url, class: "img-rounded" %>
        <% end %>
        <div class="caption text-center">
          <h3><%= link_to item.name, item_path(item) %></h3>
          <p><%= item.description %></p>
          <p>Listed for: $<%= item.try(:listing_price) %></p>
          <p>Minimum sale price: $<%= item.try(:minimum_sale_price) %></p>
        </div>
      </div>
    </div>
  <% end %>

</div>
