<%
  meta title: "#{@category.name} - #{@company.name}",
       description: "Browse #{@category.name} items at #{@company.name} - JTRP",
       keywords: @categories.pluck(:name)
%>

<% breadcrumb :category, @category %>

<div class="row">

  <%= render 'sapphire_left_nav' %>

  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
  	    <div class="cat_header">
  		    <h2><%= @category.name %></h2>
  	    </div>
    	</div>
    </div>

    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4">
          <div class="product">
    		    <%= link_to image_tag(item.featured_photo.photo_url(client_hints: true, quality: "auto", fetch_format: :auto, dpr: "auto", effect: :improve, width: "350", height: "270", crop: "fill")), item_path(item) %>
      			<div class="name">
              <%= link_to item.description.titleize, item_path(item) %>
    		    </div>
    		    <div class="price">
      		    <p><%= humanized_money_with_symbol(item.listing_price) %></p>
    		    </div>
      		</div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <%= paginate @items, html: {class: "pagination pull-right"} %>
        </div>
      </div>
    </div>

  </div>

</div>
