<div class="footer black">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <h3><span class="company-font nav-link">Information</span></h3>
          <ul>
            <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "Service Rate Schedule", service_rate_schedule_path %></li>
            <li><%= link_to "Service Rate Schedule for Agents", agent_service_rate_schedule_path %></li>
            <li><%= link_to "Consignment Terms & Conditions", consignment_policies_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h3><span class="company-font nav-link">Customer Service</span></h3>
          <ul>
            <li><%= link_to "Contact Us", contact_path %></li>
            <!-- <li><a href="">Returns</a></li>
            <li><a href="">Site Map</a></li>
            <li><a href="">Shipping</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h3><span class="company-font nav-link">Follow Us</span></h3>
          <ul class="social-network">
            <li><a href="https://www.facebook.com/<%= @company.facebook_page %>"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/<%= @company.google_plus_account %>"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.houzz.com/pro/<%= @company.houzz_account %>"><i class="fa fa-houzz"></i></a></li>
            <li><a href="https://www.instagram.com/<%= @company.instagram_account %>"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/<%= @company.linkedin_account %>"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.pinterest.com/<%= @company.pinterest_account %>"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="https://twitter.com/<%= @company.twitter_account %>"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.yelp.com/biz/<%= @company.yelp_account %>"><i class="fa fa-yelp"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
