<div class="header">
  <nav class="navbar container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if @company %>
        <div class="brand-logo-link">
          <span><%= link_to "<i class='icon-jtrpv2-allwhite-noname' style='font-size: 43pt'></i>".html_safe, root_path, class: "navbar-brand", data: {turbolinks: false} %></span>
          <span><%= link_to @company.name, root_path, class: "navbar-brand", data: {turbolinks: false} %></span>
        </div>
      <% end %>
    </div>

    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", landing_page_path %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if @categories %>
              <% @categories.primary.each do |category| %>
                <li>
                  <%= link_to category.name, category_path(category) %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <%= link_to "About Us <b class='caret'></b>".html_safe, about_path, class: "dropdown-toggle", data: {toggle: "dropdown", target: "#"} %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Client Services', client_services_path %></li>
            <li><%= link_to 'Consignment Policies', consignment_policies_path %></li>
            <li><%= link_to 'Service Rate Schedule', service_rate_schedule_path %></li>
            <li><%= link_to 'Service Rate Schedule for Agents', agent_service_rate_schedule_path %></li>
          </ul>
        </li>

        <li><%= link_to "Contact", contact_path, class: "ajax_right" %></li>

        <% if current_user %>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">My Account
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <!-- <li><%#= link_to 'Sign Up', new_user_registration_path %></li> -->
        <% end %>

      </ul>

      <!-- <ul class="nav navbar-right cart">
        <li class="dropdown">
          <a href="cart.html" class="dropdown-toggle" data-toggle="dropdown"><span>5</span></a>
          <div class="cart-info dropdown-menu">
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td class="image"><img alt="IMAGE" class="img-responsive" src="products/dress33.jpg"></td>
                  <td class="name"><a href="project.html">Black Dress</a></td>
                  <td class="quantity">x&nbsp;3</td>
                  <td class="total">$130.00</td>
                  <td class="remove"><img src="image/remove-small.png" alt="Remove" title="Remove"></td>
                </tr>
                <tr>
                  <td class="image"><img alt="IMAGE" class="img-responsive" src="products/dress11.jpg"></td>
                  <td class="name"><a href="project.html">Blue Dress</a></td>
                  <td class="quantity">x&nbsp;3</td>
                  <td class="total">$230.00</td>
                  <td class="remove"><img src="image/remove-small.png" alt="Remove" title="Remove"></td>
                </tr>
              </tbody>
            </table>
            <div class="cart-total">
              <table>
                <tbody>
                  <tr>
                    <td><b>Sub-Total:</b></td>
                    <td>$400.00</td>
                  </tr>
                  <tr>
                    <td><b>Total:</b></td>
                    <td>$400.00</td>
                  </tr>
                </tbody>
              </table>
              <div class="checkout"><a href="cart.html" class="ajax_right">View Cart</a> | <a href="checkout.html" class="ajax_right">Checkout</a></div>
            </div>
          </div>
        </li>
      </ul> -->

      <form action="<%= search_index_path %>" class="navbar-form navbar-search navbar-right" role="search">
        <div class="input-group">
          <input type="text" name="query" placeholder="Search" class="search-query col-md-2"><button type="submit" class="btn btn-default icon-search"></button>
          <%= hidden_field_tag :include_subcategories, true %>
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </nav>
</div>
