<% @navtab ||= controller_name %>

<div class="sidebar" data-active-color="purple" data-image="<%= image_url('facebook_banner.jpg') %>">

  <div class="logo text-center">
    <% if @company %>
      <%= link_to @company.name, dashboard_path, class: "sidebar-brand" %>
    <% end %>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="<%= @navtab == 'home' ? 'active' : '' %>">
        <%= link_to "<i class='material-icons'>home</i><p>Home</p>".html_safe, root_path %>
      </li>
      <% if current_user.try(:internal?) %>
        <li class="<%= @navtab == 'dashboard' ? 'active' : '' %>">
          <%= link_to "<i class='material-icons'>dashboard</i><p>Dashboard</p>".html_safe, dashboard_path %>
        </li>
        <li class="<%= @navtab == 'items' ? 'active' : '' %>">
          <%= link_to "<i class='material-icons'>weekend</i><p>Items</p>".html_safe, items_path %>
        </li>
        <li class="<%= @navtab == 'accounts' ? 'active' : '' %>">
          <%= link_to "<i class='material-icons'>assignment_ind</i><p>Accounts</p>".html_safe, accounts_path %>
        </li>
        <li class="" style="padding-left: 2em;">
          <%= link_to "<i class='material-icons'>person_add</i><p>New Account</p>".html_safe, new_account_path %>
        </li>
        <li class="<%= @navtab == 'jobs' ? 'active' : '' %>">
          <%= link_to "<i class='material-icons'>map</i><p>Jobs</p>".html_safe, jobs_path %>
        </li>
        <li class="<%= @navtab == 'purchases' ? 'active' : '' %>">
          <%= link_to "<i class='material-icons'>border_all</i><p>Purchases</p>".html_safe, purchases_path %>
        </li>
        <li class="<%= @navtab == 'agreements' ? 'active' : '' %>">
          <%= link_to "<i class='material-icons'>assignment</i><p>Agreements</p>".html_safe, agreements_list_agreements_path %>
        </li>
        <li class="<%= @navtab == 'statements' ? 'active' : '' %>">
          <%= link_to "<i class='material-icons'>attach_money</i><p>Statements</p>".html_safe, statements_list_statements_path %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
