<!DOCTYPE html>
<html>
<head>
  <title>Jtrp</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>
  <%= render 'favicon' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if @company %>
        <div class="brand-logo-link">
          <%= link_to "#{image_tag('JTRPv2_allwhite_noname.png', class: 'logo')} #{@company.name}".html_safe, root_path, class: "navbar-brand" %>
        </div>
        <% end %>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="<%= company_client_services_path(@company) %>" data-target="#" class="dropdown-toggle" data-toggle="dropdown">About Us
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Client Services', company_client_services_path(@company) %></li>
              <li><%= link_to 'Consignment Policies', company_consignment_policies_path(@company) %></li>
              <li><%= link_to 'Service Rate Schedule', company_service_rate_schedule_path(@company) %></li>
              <li><%= link_to 'Service Rate Schedule for Agents', company_agent_service_rate_schedule_path(@company) %></li>
            </ul>
          </li>
          <% if current_user %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row vertical-align">

      <% if current_user.try(:internal?) %>
        <div class="col-sm-3 col-md-2 sidebar">

          <ul class="nav nav-sidebar">
            <li>
              <a class="btn btn-primary" role="button" data-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="categories">
                <i class='material-icons'>view_list</i> Categories <b class="caret"></b>
              </a>
              <div class="collapse text-center" id="categories">
                <div class="btn-group-vertical">
                  <% if @categories %>
                    <% @categories.each do |category| %>
                      <%= link_to category.name, category_path(category), class: "btn btn-primary" %>
                    <% end %>
                  <% end %>
                  <%= link_to "All Categories", categories_path, class: "btn btn-primary" %>
                </div>
              </div>
            </li>

            <li>
              <a class="btn btn-primary" role="button" data-toggle="collapse" href="#items" aria-expanded="false" aria-controls="items">
                <i class='material-icons'>weekend</i> Items <b class="caret"></b>
              </a>
              <div class="collapse text-center" id="items">
                <div class="btn-group-vertical">
                <%= link_to "Potential", items_path(status: 'potential'), class: "btn btn-primary" %>
                <%= link_to "Active", items_path(status: 'active'), class: "btn btn-primary" %>
                <%= link_to "Sold", items_path(status: 'sold'), class: "btn btn-primary" %>
                  <%= link_to "All Items", items_path, class: "btn btn-primary" %>
                </div>
              </div>
            </li>

            <li>
              <a class="btn btn-primary" role="button" data-toggle="collapse" href="#clients" aria-expanded="false" aria-controls="clients">
                <i class='material-icons'>person</i> Clients <b class="caret"></b>
              </a>
              <div class="collapse text-center" id="clients">
                <div class="btn-group-vertical">
                  <%= link_to "Potential", clients_path(status: 'potential'), class: "btn btn-primary" %>
                  <%= link_to "Active", clients_path(status: 'active'), class: "btn btn-primary" %>
                  <%= link_to "Inactive", clients_path(status: 'inactive'), class: "btn btn-primary" %>
                  <%= link_to "All Clients", clients_path, class: "btn btn-primary" %>
                </div>
              </div>
            </li>
            <li>
              <a class="btn btn-primary" role="button" data-toggle="collapse" href="#agreements" aria-expanded="false" aria-controls="agreements">
                <i class='material-icons'>assignment</i> Agreements <b class="caret"></b>
              </a>
              <div class="collapse text-center" id="agreements">
                <div class="btn-group-vertical">
                  <%= link_to "Potential", agreements_list_agreements_path(status: 'potential'), class: "btn btn-primary" %>
                  <%= link_to "Active", agreements_list_agreements_path(status: 'active'), class: "btn btn-primary" %>
                  <%= link_to "Inactive", agreements_list_agreements_path(status: 'inactive'), class: "btn btn-primary" %>
                  <%= link_to "All Agreements", agreements_list_agreements_path, class: "btn btn-primary" %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      <% end %>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <div class="large-top-margin">
          <% if alert %>
            <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <p><%= alert %></p>
            </div>
          <% end %>
          <% if notice %>
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <p><%= notice %></p>
            </div>
          <% end %>
        </div>

        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
