<div class="row">

  <div class="table-responsive">
    <table class="table table-shopping tablesorter">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="text-center th-description">Name</th>
          <th class="text-center">Account No.</th>
          <th class="text-center">Jobs</th>
          <th class="text-center">Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cache accounts do %>
          <% accounts.each do |account| %>
            <% cache account do %>
              <tr id="account-<%= account.id %>-row">
                <td class="text-center">
                  <div class="img-container">
                    <%= link_to image_tag(account.avatar, class: "img-rounded img-responsive img-raised"), account_path(account) %>
                  </div>
                </td>
                <td class="td-name">
                  <%= link_to account.inverse_full_name, account_path(account) %>
                  <br><small>Primary Contact: <%= account.primary_contact_id ? link_to(account.full_name, client_path(account.primary_contact_id)) : '' %></small>
                </td>
                <td class="text-center">
                  <%= account.id %>
                </td>
                <td class="text-center">
                  <%= account.jobs_count %>
                </td>
                <td class="text-center">
                  <%= account.proposals.sum(:items_count) %>
                </td>
                <td class="text-center">

                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-raised btn-fab btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class='material-icons'>menu</i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">

                      <% if account.consignment_account? %>
                        <li><%= link_to "View Statements", account_statements_path(account) %></li>
                        <li><%= link_to "View Letters", account_letters_path(account) %></li>
                      <% end %>
                      <% unless account.inactive? %>
                        <li><%= link_to "Deactivate", account_deactivate_path(account), method: :post %></li>
                      <% end %>
                      <% if account.inactive? %>
                        <li><%= link_to "Reactivate", account_reactivate_path(account), method: :post %></li>
                      <% end %>

                    </ul>
                  </div>

                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%= paginate accounts %>
    </div>

  </div>

</div>
