<div class="row">
	<div class="col-xs-12 col-sm-4">
		<a href="<%= account_path(@account) %>">
			<div class="info">
				<div class="icon icon-info">
					<i class="material-icons">assignment_ind</i>
				</div>
				<h1 class="info-title"><%= @account.account_number %></h1>
				<p>Account Number</p>
			</div>
		</a>
	</div>

	<% if @account.primary_contact %>
		<div class="col-xs-12 col-sm-4">
			<a href="<%= client_path(@account.primary_contact) %>">
				<div class="info">
					<div class="icon icon-warning">
						<i class="material-icons">person</i>
					</div>
					<h1 class="info-title"><%= @account.primary_contact.full_name %></h1>
					<p>Primary Contact</p>
				</div>
			</a>
		</div>
	<% end %>

	<div class="col-xs-12 col-sm-4">
		<a href="<%= account_jobs_path(@account) %>">
		</a>
		<div class="info">
			<div class="icon icon-success">
				<i class="material-icons">av_timer</i>
			</div>
			<h1 class="info-title"><%= @account.status.titleize %></h1>
			<p>Status</p>
		</div>
	</div>
</div>
