<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title">Accounts</h1>
  </div>
</div>

<div class="row grid">
  <div class="grid-sizer col-xs-6 col-md-3"></div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= Account.potential.count %></h1>
      </div>
      <div class="panel-heading complement-primary">
        <h3><%= link_to "Potential Accounts", accounts_path(status: 'potential') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= Account.active.count %></h1>
      </div>
      <div class="panel-heading complement-darker">
        <h3><%= link_to "Active Accounts", accounts_path(status: 'active') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= @yard_sale.jobs.active.count %></h1>
      </div>
      <div class="panel-heading secondary-primary">
        <h3><%= link_to "Active Yard Sales", account_path(@yard_sale) %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= @estate_sale.jobs.active.count %></h1>
      </div>
      <div class="panel-heading secondary-darker">
        <h3><%= link_to "Active Estate Sales", account_path(@estate_sale) %></h3>
      </div>
    </div>
  </div>
</div>

<div class="row grid">
  <div class="col-xs-6 col-md-3 grid-sizer"></div>
  <% @accounts.each do |account| %>
    <div class="col-xs-6 col-md-3 grid-item">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h4><%= link_to account.full_name, account_path(account) %></h4>
        </div>
        <div class="panel-body">
          <% if account.avatar.present? %>
            <%= link_to image_tag(account.avatar.photo_url(:thumb)), account_path(account) %>
          <% else %>
            <%= link_to image_tag("thumb_default_avatar.png", class: "thumb"), account_path(account) %>
          <% end %>
          <div class="row">
            <div class="col-xs-7 text-right">Total jobs: </div>
            <div class="col-xs-5 text-left"><%= account.jobs.count %></div>
            <div class="col-xs-7 text-right">Total items: </div>
            <div class="col-xs-5 text-left"><%= account.items.count %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
