<% meta title: "Accounts - #{@company.name}" %>

<%= javascript_pack_tag('accounts') %>

<% if @filter.present? %>
  <% case @filter %>
  <% when "potential" %>
    <h4>Potential accounts have not yet signed an agreement.</h4>
  <% when "active" %>
    <h4>Active accounts have an active job.</h4>
  <% when "inactive" %>
    <h4>Inactive accounts have completed agreements or service orders.</h4>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12">

    <div class="row top-margin">
      <ul class="nav nav-pills text-center justify-list">
    		<li class="<%= 'active' if params[:status] == 'potential' || params[:status].nil? %>">
          <%= link_to accounts_path(status: "potential") do %>
            <span class="icon icon-info tab-icon">
              <i class="material-icons md-48">assignment_ind</i>
            </span>
            <h5>Potential</h5>
          <% end %>
    		</li>
    		<li class="<%= 'active' if params[:status] == 'active' %>">
          <%= link_to accounts_path(status: "active") do %>
            <span class="icon icon-primary tab-icon">
              <i class="material-icons md-48">assignment_ind</i>
            </span>
            <h5>Active</h5>
          <% end %>
    		</li>
    		<li class="<%= 'active' if params[:status] == 'inactive' %>">
          <%= link_to accounts_path(status: "inactive") do %>
            <span class="icon icon-warning tab-icon">
              <i class="material-icons md-48">assignment_ind</i>
            </span>
            <h5>Inactive</h5>
          <% end %>
    		</li>
      </ul>
    </div>

    <div class="large-top-margin">
      <%= render "accounts_list", accounts: @accounts %>
    </div>

  </div>
</div>
