<% meta title: "#{@account.short_name} - #{@company.name}" %>

<div class="container-fluid">

  <div class="row text-center top-margin">
    <%= render 'header_cards', account: @account %>
  </div>

  <div class="row large-top-margin">
    <div class="col-md-10 col-md-offset-1 col-xs-12">

      <div class="row">
        <ul class="nav nav-pills text-center justify-list" role="tablist">

          <li class="nav-li-box">
      			<a href="#jobs" aria-controls="jobs" role="tab" data-toggle="tab" aria-expanded="false">
      				<div class="info">
      					<span class="icon icon-info tab-icon">
      						<i class="material-icons md-36">map</i>
      					</span>
      					<h5 class="hidden-sm hidden-xs">Jobs</h5>
      				</div>
      			</a>
      		</li>

          <li class="nav-li-box">
      			<a href="#proposals" aria-controls="proposals" role="tab" data-toggle="tab" aria-expanded="false">
      				<div class="info">
      					<span class="icon icon-primary tab-icon">
      						<i class="material-icons md-36">assignment</i>
      					</span>
      					<h5 class="hidden-sm hidden-xs">Proposals</h5>
      				</div>
      			</a>
      		</li>

          <li class="nav-li-box">
      			<a href="#agreements" aria-controls="agreements" role="tab" data-toggle="tab" aria-expanded="false">
      				<div class="info">
      					<span class="icon icon-warning tab-icon">
      						<i class="material-icons md-36">assignment_turned_in</i>
      					</span>
      					<h5 class="hidden-sm hidden-xs">Agreements</h5>
      				</div>
      			</a>
      		</li>

          <li class="nav-li-box">
      			<a href="#statements" aria-controls="statements" role="tab" data-toggle="tab" aria-expanded="false">
      				<div class="info">
      					<span class="icon icon-success tab-icon">
      						<i class="material-icons md-36">attach_money</i>
      					</span>
      					<h5 class="hidden-sm hidden-xs">Statements</h5>
      				</div>
      			</a>
      		</li>

          <li class="nav-li-box">
      			<a href="#items" aria-controls="items" role="tab" data-toggle="tab" aria-expanded="false">
      				<div class="info">
      					<span class="icon icon-success tab-icon">
      						<i class="material-icons md-36">weekend</i>
      					</span>
      					<h5 class="hidden-sm hidden-xs">Items</h5>
      				</div>
      			</a>
      		</li>

        </ul>
      </div>

      <!-- Tab panes -->
      <div class="large-top-margin">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade" id="jobs">
            <%= render "jobs/jobs_list", cached: true, jobs: @jobs, status: "all" %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="proposals">
            <%= render "proposals/proposals_list", cached: true, proposals: @proposals, account: @account, status: "all" %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="agreements">
            <%= render "agreements/agreement_list_items", cached: true, agreements: @agreements %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="statements">
            <%= render "statements/statements_list", cached: true, statements: @statements, status: "all" %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="items">
            <%= render_async account_items_list_path(account_id: @account.id) %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<% content_for :fab do %>
  <%= render "accounts/fab_menu", account: @account %>
<% end %>
