<div class="row">
  <div class="col-sm-12 text-center">
    <h1 class="company-title"><%= @account.full_name %></h1>
  </div>
</div>

<div class="row grid">
  <div class="grid-sizer col-xs-6 col-md-3"></div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= @account.account_number %></h1>
      </div>
      <div class="panel-heading complement-primary">
        <h3><%= link_to "Account Number", account_path(@account) %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= @account.jobs.potential.count %></h1>
      </div>
      <div class="panel-heading complement-darker">
        <h3><%= link_to "Potential Jobs", account_jobs_path(@account, status: 'potential') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1><%= @account.jobs.active.count %></h1>
      </div>
      <div class="panel-heading secondary-primary">
        <h3><%= link_to "Active Jobs", account_jobs_path(@account, status: 'potential') %></h3>
      </div>
    </div>
  </div>

  <div class="grid-item col-xs-6 col-md-3">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <h1>$35.00<%#= humanized_money_with_symbol(@account.balance) %></h1>
      </div>
      <div class="panel-heading secondary-darker">
        <h3><%= link_to "Account Balance", account_transactions_path(@account) %></h3>
      </div>
    </div>
  </div>
</div>

<div class="row grid">
  <div class="col-xs-12 col-sm-6 grid-sizer"></div>

  <div class="col-xs-12 col-sm-6 grid-item">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <h4><%= link_to "Potential Items", account_items_path(@account, status: 'potential') %></h4>
      </div>
      <div class="panel-body">
        <%= render "clients/items_preview", items: @account.items.potential, type: "potential" %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 grid-item">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <h4><%= link_to "Active Items", account_items_path(@account, status: 'active') %></h4>
      </div>
      <div class="panel-body">
        <%= render "clients/items_preview", items: @account.items.active, type: "active" %>
      </div>
    </div>
  </div>

</div>
