<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <!-- <h1 class="company-title"><%#= @account.short_name %></h1> -->
  </div>
</div>

<div class="row text-center">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <%= render 'header_cards' %>
  </div>
</div>

<div class="row text-center section section-dark large-top-margin">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <%= render 'new_buttons' %>
  </div>
</div>

<div class="row extra-large-top-margin">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% @account.jobs.each do |job| %>
      <div class="col-xs-6 col-md-4">
        <a href="<%= account_job_path(@account, job) %>">
          <div class="card card-blog">
        		<div class="card-image">
                <%= image_tag(job.maps_url, class: "img") %>
        		<div class="ripple-container"></div></div>

        		<div class="content">
        			<h6 class="category text-info"><%= job.status %></h6>
        			<p class="card-description">
        				<%= "Job No. #{job.id} - #{job.address_1}" %>
        			</p>
        		</div>
        	</div>
        </a>
      </div>
    <% end %>
  </div>
</div>
